Repository cncf/k8s-conformance, pull requests merged in 2022-06, with the labels that each got.

#1972 Conformance results for v1.23/incloudos-icks-kubernetes
  v1.23/inspur-incloudos-amd64/PRODUCT.yaml
  v1.23/inspur-incloudos-amd64/README.md
  v1.23/inspur-incloudos-amd64/e2e.log
  v1.23/inspur-incloudos-amd64/incloudoslogo.svg
  v1.23/inspur-incloudos-amd64/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1979 Conformance results for v1.24/gke
  v1.24/gke/PRODUCT.yaml
  v1.24/gke/README.md
  v1.24/gke/e2e.log
  v1.24/gke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#1981 Conformance results for v1.23/kubermatic
  v1.23/kubermatic/PRODUCT.yaml
  v1.23/kubermatic/README.md
  v1.23/kubermatic/e2e.log
  v1.23/kubermatic/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1986 Conformance results for v1.23/aks-engine-azurestack
  v1.23/aks-engine-azurestack/PRODUCT.yaml
  v1.23/aks-engine-azurestack/README.md
  v1.23/aks-engine-azurestack/e2e.log
  v1.23/aks-engine-azurestack/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1987 Conformance results for v1.24/exoscale
  v1.24/exoscale/PRODUCT.yaml
  v1.24/exoscale/README.md
  v1.24/exoscale/e2e.log
  v1.24/exoscale/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#1988 Updated conformance results for v1.23/iks
  v1.23/iks/PRODUCT.yaml
  v1.23/iks/README.md
  v1.23/iks/e2e.log
  v1.23/iks/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1989 Updated conformance results for v1.22/iks
  v1.22/iks/PRODUCT.yaml
  v1.22/iks/README.md
  v1.22/iks/e2e.log
  v1.22/iks/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#1990 Update conformance results for v1.23/ibm-openshift
  v1.23/ibm-openshift/PRODUCT.yaml
  v1.23/ibm-openshift/README.md
  v1.23/ibm-openshift/e2e.log
  v1.23/ibm-openshift/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1991 Update conformance results for v1.22/ibm-openshift
  v1.22/ibm-openshift/PRODUCT.yaml
  v1.22/ibm-openshift/README.md
  v1.22/ibm-openshift/e2e.log
  v1.22/ibm-openshift/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#1995 Submitting k8s conformance results for v1.23 for windrivercloud
  v1.23/windrivercloud/PRODUCT.yaml
  v1.23/windrivercloud/README.md
  v1.23/windrivercloud/e2e.log
  v1.23/windrivercloud/junit_01.xml
  v1.23/windrivercloud/summary.txt
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1997 Conformance results for v1.24/rke-government
  v1.24/rke-government/PRODUCT.yaml
  v1.24/rke-government/README.md
  v1.24/rke-government/e2e.log
  v1.24/rke-government/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#1999 Conformance results for v1.24/crane
  v1.24/crane/PRODUCT.yaml
  v1.24/crane/README.md
  v1.24/crane/e2e.log
  v1.24/crane/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2001 Conformance results for v1.24/kubeasz
  v1.24/kubeasz/PRODUCT.yaml
  v1.24/kubeasz/README.md
  v1.24/kubeasz/e2e.log
  v1.24/kubeasz/junit_01.xml
Labels: not-verifiable, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2002 Conformance results for v1.24/iks
  v1.24/iks/PRODUCT.yaml
  v1.24/iks/README.md
  v1.24/iks/e2e.log
  v1.24/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#1957 Conformance results for v1.23/replicated
  v1.23/replicated/202205040300_sonobuoy_c3b17cdd-a9de-4a05-abf1-a250b4542e8c.tar.gz
  v1.23/replicated/PRODUCT.yaml
  v1.23/replicated/README.md
  v1.23/replicated/e2e.log
  v1.23/replicated/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1996 Conformance results for v1.24/replicated
  v1.24/replicated/202206071444_sonobuoy_b725e204-2621-4a11-a45b-b02667aa8b92.tar.gz
  v1.24/replicated/PRODUCT.yaml
  v1.24/replicated/README.md
  v1.24/replicated/e2e.log
  v1.24/replicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2003 Conformance results for v1.24/symplegma
  v1.24/symplegma/PRODUCT.yaml
  v1.24/symplegma/README.md
  v1.24/symplegma/e2e.log
  v1.24/symplegma/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2005 Conformance results for v1.24/microk8s
  v1.24/microk8s/PRODUCT.yaml
  v1.24/microk8s/README.md
  v1.24/microk8s/e2e.log
  v1.24/microk8s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2006 Conformance results for v1.23/gec-imke
  v1.23/gec-imke/PRODUCT.yaml
  v1.23/gec-imke/README.md
  v1.23/gec-imke/e2e.log
  v1.23/gec-imke/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2007 Conformance results for v1.24/acp
  v1.24/acp/PRODUCT.yaml
  v1.24/acp/README.md
  v1.24/acp/e2e.log
  v1.24/acp/junit_01.xml
Labels: not-verifiable, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2013 Conformance results for v1.24/talos
  v1.24/talos/PRODUCT.yaml
  v1.24/talos/README.md
  v1.24/talos/e2e.log
  v1.24/talos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2014 Update conformance results for v1.24/iks
  v1.24/iks/PRODUCT.yaml
  v1.24/iks/README.md
  v1.24/iks/e2e.log
  v1.24/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2016 Update conformance results for v1.22/iks
  v1.22/iks/PRODUCT.yaml
  v1.22/iks/README.md
  v1.22/iks/e2e.log
  v1.22/iks/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#2017 Update conformance results for v1.23/ibm-openshift
  v1.23/ibm-openshift/PRODUCT.yaml
  v1.23/ibm-openshift/README.md
  v1.23/ibm-openshift/e2e.log
  v1.23/ibm-openshift/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2018 Update conformance results for v1.22/ibm-openshift
  v1.22/ibm-openshift/PRODUCT.yaml
  v1.22/ibm-openshift/README.md
  v1.22/ibm-openshift/e2e.log
  v1.22/ibm-openshift/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission
