Repository cncf/k8s-conformance, pull requests merged in 2022-07, with the labels that each got.

#2020 Conformance results for v1.24/minikube
  v1.24/minikube/PRODUCT.yaml
  v1.24/minikube/README.md
  v1.24/minikube/e2e.log
  v1.24/minikube/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2022 Conformance results for v1.23/mcs
  v1.23/mcs/PRODUCT.yaml
  v1.23/mcs/README.md
  v1.23/mcs/e2e.log
  v1.23/mcs/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2009 Conformance results for v1.22/Proact Managed Container Platform
  v1.22/pmcp/PRODUCT.yaml
  v1.22/pmcp/README.md
  v1.22/pmcp/e2e.log
  v1.22/pmcp/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#1896 Conformance results for v1.22/alvistack-ansible-collection-kubernetes
  v1.22/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.22/alvistack-ansible-collection-kubernetes/README.md
  v1.22/alvistack-ansible-collection-kubernetes/e2e.log
  v1.22/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#1897 Conformance results for v1.23/alvistack-ansible-collection-kubernetes
  v1.23/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.23/alvistack-ansible-collection-kubernetes/README.md
  v1.23/alvistack-ansible-collection-kubernetes/e2e.log
  v1.23/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1958 Conformance results for v1.24/alvistack-ansible-collection-kubernetes
  v1.24/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.24/alvistack-ansible-collection-kubernetes/README.md
  v1.24/alvistack-ansible-collection-kubernetes/e2e.log
  v1.24/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#1899 Conformance results for v1.22/alvistack-vagrant-kubernetes
  v1.22/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.22/alvistack-vagrant-kubernetes/README.md
  v1.22/alvistack-vagrant-kubernetes/e2e.log
  v1.22/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#1900 Conformance results for v1.23/alvistack-vagrant-kubernetes
  v1.23/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.23/alvistack-vagrant-kubernetes/README.md
  v1.23/alvistack-vagrant-kubernetes/e2e.log
  v1.23/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#1959 Conformance results for v1.24/alvistack-vagrant-kubernetes
  v1.24/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.24/alvistack-vagrant-kubernetes/README.md
  v1.24/alvistack-vagrant-kubernetes/e2e.log
  v1.24/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2023 Conformance results for v1.24/rancher
  v1.24/rancher/PRODUCT.yaml
  v1.24/rancher/README.md
  v1.24/rancher/e2e.log
  v1.24/rancher/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2024 Conformance results for v1.24/rke
  v1.24/rke/PRODUCT.yaml
  v1.24/rke/README.md
  v1.24/rke/e2e.log
  v1.24/rke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2025 Conformance results for v1.22/MetalK8s
  v1.22/MetalK8s/PRODUCT.yaml
  v1.22/MetalK8s/README.md
  v1.22/MetalK8s/e2e.log
  v1.22/MetalK8s/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#2012 Conformance results for v1.23/Proact Managed Container Platform
  v1.23/pmcp/PRODUCT.yaml
  v1.23/pmcp/README.md
  v1.23/pmcp/e2e.log
  v1.23/pmcp/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2038 Conformance results for v1.24/OneKE
  v1.24/OneKE/PRODUCT.yaml
  v1.24/OneKE/README.md
  v1.24/OneKE/e2e.log
  v1.24/OneKE/junit_01.xml
  v1.24/OneKE/sonobuoy.tar.gz
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2043 Conformance results for v1.23/openstack-magnum
  v1.23/openstack-magnum/PRODUCT.yaml
  v1.23/openstack-magnum/README.md
  v1.23/openstack-magnum/e2e.log
  v1.23/openstack-magnum/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2046 Conformance results for v1.23/Oracle Cloud Native Environment
  v1.23/ocne/PRODUCT.yaml
  v1.23/ocne/README.md
  v1.23/ocne/e2e.log
  v1.23/ocne/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2050 Conformance results for v1.24/K8splus
  v1.24/k8splus/PRODUCT.yaml
  v1.24/k8splus/README.md
  v1.24/k8splus/e2e.log
  v1.24/k8splus/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2026 Conformance Results for v1.22/iks
  v1.22/IXcloud-kubernetes-service/PRODUCT.yaml
  v1.22/IXcloud-kubernetes-service/README.md
  v1.22/IXcloud-kubernetes-service/e2e.log
  v1.22/IXcloud-kubernetes-service/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#2027 Conformance Results for v1.23/iks
  v1.23/IXcloud-kubernetes-service/PRODUCT.yaml
  v1.23/IXcloud-kubernetes-service/README.md
  v1.23/IXcloud-kubernetes-service/e2e.log
  v1.23/IXcloud-kubernetes-service/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2052 Conformance results for v1.24/desktop-kubernetes
  v1.24/desktop-kubernetes/PRODUCT.yaml
  v1.24/desktop-kubernetes/README.md
  v1.24/desktop-kubernetes/e2e.log
  v1.24/desktop-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2053 Conformance results for v1.23/MetalK8s
  v1.23/MetalK8s/PRODUCT.yaml
  v1.23/MetalK8s/README.md
  v1.23/MetalK8s/e2e.log
  v1.23/MetalK8s/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2057 Update conformance results for v1.24/iks
  v1.24/iks/PRODUCT.yaml
  v1.24/iks/README.md
  v1.24/iks/e2e.log
  v1.24/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, no-failed-tests-v1.24, release-v1.24, tests-verified-v1.24

#2058 Update conformance results for v1.23/iks
  v1.23/iks/PRODUCT.yaml
  v1.23/iks/README.md
  v1.23/iks/e2e.log
  v1.23/iks/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2059 Update conformance results for v1.22/iks
  v1.22/iks/PRODUCT.yaml
  v1.22/iks/README.md
  v1.22/iks/e2e.log
  v1.22/iks/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission

#2060 Update conformance results for v1.23/ibm-openshift
  v1.23/ibm-openshift/PRODUCT.yaml
  v1.23/ibm-openshift/README.md
  v1.23/ibm-openshift/e2e.log
  v1.23/ibm-openshift/junit_01.xml
Labels: release-documents-checked, release-v1.23, tests-verified-v1.23, no-failed-tests-v1.23, conformance-product-submission

#2061 Update conformance results for v1.22/ibm-openshift
  v1.22/ibm-openshift/PRODUCT.yaml
  v1.22/ibm-openshift/README.md
  v1.22/ibm-openshift/e2e.log
  v1.22/ibm-openshift/junit_01.xml
Labels: release-documents-checked, release-v1.22, tests-verified-v1.22, no-failed-tests-v1.22, conformance-product-submission
