Repository cncf/k8s-conformance, pull requests merged in 2023-08, with the labels that each got.

#2702 Conformance results for v1.26/cke
  v1.26/cke/PRODUCT.yaml
  v1.26/cke/README.md
  v1.26/cke/e2e.log
  v1.26/cke/junit_01.xml
  v1.26/cke/sonobuoy.tar.gz
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2706 Conformance results for v1.26/aks-engine-azurestack
  v1.26/aks-engine-azurestack/PRODUCT.yaml
  v1.26/aks-engine-azurestack/README.md
  v1.26/aks-engine-azurestack/e2e.log
  v1.26/aks-engine-azurestack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2707 Update conformance results for v1.27/iks
  v1.27/iks/PRODUCT.yaml
  v1.27/iks/README.md
  v1.27/iks/e2e.log
  v1.27/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2708 Update conformance results for v1.26/iks
  v1.26/iks/PRODUCT.yaml
  v1.26/iks/README.md
  v1.26/iks/e2e.log
  v1.26/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2709 Update conformance results for v1.25/iks
  v1.25/iks/PRODUCT.yaml
  v1.25/iks/README.md
  v1.25/iks/e2e.log
  v1.25/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2711 Update conformance results for v1.26/ibm-openshift
  v1.26/ibm-openshift/PRODUCT.yaml
  v1.26/ibm-openshift/README.md
  v1.26/ibm-openshift/e2e.log
  v1.26/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2712 Update conformance results for v1.25/ibm-openshift
  v1.25/ibm-openshift/PRODUCT.yaml
  v1.25/ibm-openshift/README.md
  v1.25/ibm-openshift/e2e.log
  v1.25/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2720 Submitting k8s conformance results for v1.26 for windrivercloud.
  v1.26/windrivercloud/PRODUCT.yaml
  v1.26/windrivercloud/README.md
  v1.26/windrivercloud/e2e.log
  v1.26/windrivercloud/junit_01.xml
  v1.26/windrivercloud/summary.txt
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2713 Update Conformance Results for v1.25/alvistack-ansible-collection-kubernetes
  v1.25/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.25/alvistack-ansible-collection-kubernetes/README.md
  v1.25/alvistack-ansible-collection-kubernetes/e2e.log
  v1.25/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2714 Update Conformance Results for v1.26/alvistack-ansible-collection-kubernetes
  v1.26/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.26/alvistack-ansible-collection-kubernetes/README.md
  v1.26/alvistack-ansible-collection-kubernetes/e2e.log
  v1.26/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2715 Update Conformance Results for v1.27/alvistack-ansible-collection-kubernetes
  v1.27/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.27/alvistack-ansible-collection-kubernetes/README.md
  v1.27/alvistack-ansible-collection-kubernetes/e2e.log
  v1.27/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2716 Update Conformance Results for v1.25/alvistack-vagrant-kubernetes
  v1.25/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.25/alvistack-vagrant-kubernetes/README.md
  v1.25/alvistack-vagrant-kubernetes/e2e.log
  v1.25/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2717 Update Conformance Results for v1.26/alvistack-vagrant-kubernetes
  v1.26/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.26/alvistack-vagrant-kubernetes/README.md
  v1.26/alvistack-vagrant-kubernetes/e2e.log
  v1.26/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2718 Update Conformance Results for v1.27/alvistack-vagrant-kubernetes
  v1.27/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.27/alvistack-vagrant-kubernetes/README.md
  v1.27/alvistack-vagrant-kubernetes/e2e.log
  v1.27/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2719 Conformance results for v1.27/nks
  v1.27/nks/PRODUCT.yaml
  v1.27/nks/README.md
  v1.27/nks/e2e.log
  v1.27/nks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2722 Conformance results for v1.26/tkgi
  v1.26/tkgi/PRODUCT.yaml
  v1.26/tkgi/README.md
  v1.26/tkgi/e2e.log
  v1.26/tkgi/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2724 Conformance results for v1.27/nirmata
  v1.27/nirmata/PRODUCT.yaml
  v1.27/nirmata/README.md
  v1.27/nirmata/e2e.log
  v1.27/nirmata/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2723 Conformance results for v1.26/nirmata
  v1.26/nirmata/PRODUCT.yaml
  v1.26/nirmata/README.md
  v1.26/nirmata/e2e.log
  v1.26/nirmata/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2725 Conformance results for v1.27/minikube
  v1.27/minikube/PRODUCT.yaml
  v1.27/minikube/README.md
  v1.27/minikube/e2e.log
  v1.27/minikube/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2732 Add Huawei Cloud CCE v1.27 conformance test result.
  v1.27/huawei-cce/PRODUCT.yaml
  v1.27/huawei-cce/README.md
  v1.27/huawei-cce/e2e.log
  v1.27/huawei-cce/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2685 Conformance results for v1.25/wke
  v1.25/wke/PRODUCT.yaml
  v1.25/wke/README.md
  v1.25/wke/e2e.log
  v1.25/wke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2686 Conformance results for v1.26/wke
  v1.26/wke/PRODUCT.yaml
  v1.26/wke/README.md
  v1.26/wke/e2e.log
  v1.26/wke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2704 add conformance result resources for v1.26/bxcloud-platform
  v1.26/bxcloud-platform/PRODUCT.yaml
  v1.26/bxcloud-platform/README.md
  v1.26/bxcloud-platform/e2e.log
  v1.26/bxcloud-platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2733 Conformance result for v1.25/constellation
  v1.25/constellation/PRODUCT.yaml
  v1.25/constellation/README.md
  v1.25/constellation/e2e.log
  v1.25/constellation/junit_01.xml
Labels: not-verifiable, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2735 Conformance result for v1.27/constellation
  v1.27/constellation/PRODUCT.yaml
  v1.27/constellation/README.md
  v1.27/constellation/e2e.log
  v1.27/constellation/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2734 Conformance result for v1.26/constellation
  v1.26/constellation/PRODUCT.yaml
  v1.26/constellation/README.md
  v1.26/constellation/e2e.log
  v1.26/constellation/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2731 Conformance results for v1.26/starlingx
  v1.26/starlingx/PRODUCT.yaml
  v1.26/starlingx/README.md
  v1.26/starlingx/e2e.log
  v1.26/starlingx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2738 Conformance results for v1.26/ske
  v1.26/ske/PRODUCT.yaml
  v1.26/ske/README.md
  v1.26/ske/e2e.log
  v1.26/ske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2739 Conformance Results for v1.28/alvistack-ansible-collection-kubernetes
  v1.28/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.28/alvistack-ansible-collection-kubernetes/README.md
  v1.28/alvistack-ansible-collection-kubernetes/e2e.log
  v1.28/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2740 Conformance Results for v1.28/alvistack-vagrant-kubernetes
  v1.28/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.28/alvistack-vagrant-kubernetes/README.md
  v1.28/alvistack-vagrant-kubernetes/e2e.log
  v1.28/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2741 Conformance results for v1.27/oke
  v1.27/oke/PRODUCT.yaml
  v1.27/oke/README.md
  v1.27/oke/e2e.log
  v1.27/oke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2742 Conformance results for v1.28/talos
  v1.28/talos/PRODUCT.yaml
  v1.28/talos/README.md
  v1.28/talos/e2e.log
  v1.28/talos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2745 Conformance results for v1.27/inspur-cnp-amd64
  v1.27/inspur-cnp-amd64/PRODUCT.yaml
  v1.27/inspur-cnp-amd64/README.md
  v1.27/inspur-cnp-amd64/e2e.log
  v1.27/inspur-cnp-amd64/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2746 Conformance results for v1.27/kubeops
  v1.27/kubeops/README.md
  v1.27/kubeops/e2e.log
  v1.27/kubeops/junit_01.xml
  v1.27/kubeops/product.yaml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2747 Conformance results for v1.27/inspur-cnp-arm64
  v1.27/inspur-cnp-arm64/PRODUCT.yaml
  v1.27/inspur-cnp-arm64/README.md
  v1.27/inspur-cnp-arm64/e2e.log
  v1.27/inspur-cnp-arm64/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2748 Conformance results for v1.28/cdk
  v1.28/cdk/PRODUCT.yaml
  v1.28/cdk/README.md
  v1.28/cdk/e2e.log
  v1.28/cdk/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2750 Conformance results for v1.26/acornsoft-cocktail
  v1.26/acornsoft-cocktail/PRODUCT.yaml
  v1.26/acornsoft-cocktail/README.md
  v1.26/acornsoft-cocktail/e2e.log
  v1.26/acornsoft-cocktail/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2751 Conformance results for v1.26/accordion
  v1.26/accordion/PRODUCT.yaml
  v1.26/accordion/README.md
  v1.26/accordion/e2e.log
  v1.26/accordion/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2752 Conformance results for v1.28/typhoon
  v1.28/typhoon/PRODUCT.yaml
  v1.28/typhoon/README.md
  v1.28/typhoon/e2e.log
  v1.28/typhoon/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2753 Conformance results for v1.26/elastisys-compliant-kubernetes
  v1.26/elastisys-compliant-kubernetes/PRODUCT.yaml
  v1.26/elastisys-compliant-kubernetes/README.md
  v1.26/elastisys-compliant-kubernetes/e2e.log
  v1.26/elastisys-compliant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2754 Conformance results for v1.28/Exoscale
  v1.28/exoscale/PRODUCT.yaml
  v1.28/exoscale/README.md
  v1.28/exoscale/e2e.log
  v1.28/exoscale/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2758 Conformance results for v1.28/scaleway
  v1.28/scaleway/PRODUCT.yaml
  v1.28/scaleway/README.md
  v1.28/scaleway/e2e.log
  v1.28/scaleway/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2759 Update Conformance Results for v1.26/alvistack-ansible-collection-kubernetes
  v1.26/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.26/alvistack-ansible-collection-kubernetes/README.md
  v1.26/alvistack-ansible-collection-kubernetes/e2e.log
  v1.26/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2760 Update Conformance Results for v1.27/alvistack-ansible-collection-kubernetes
  v1.27/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.27/alvistack-ansible-collection-kubernetes/README.md
  v1.27/alvistack-ansible-collection-kubernetes/e2e.log
  v1.27/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2761 Update Conformance Results for v1.26/alvistack-vagrant-kubernetes
  v1.26/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.26/alvistack-vagrant-kubernetes/README.md
  v1.26/alvistack-vagrant-kubernetes/e2e.log
  v1.26/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2762 Update Conformance Results for v1.27/alvistack-vagrant-kubernetes
  v1.27/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.27/alvistack-vagrant-kubernetes/README.md
  v1.27/alvistack-vagrant-kubernetes/e2e.log
  v1.27/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2763 Conformance test results for v1.27/kubeclipper
  v1.27/kubeclipper/PRODUCT.yaml
  v1.27/kubeclipper/README.md
  v1.27/kubeclipper/e2e.log
  v1.27/kubeclipper/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27
