Repository cncf/k8s-conformance, pull requests merged in 2023-06, with the labels that each got.

#2651 Conformance results for v1.27/mirantis-kubernetes-engine
  v1.27/mirantis-kubernetes-engine/PRODUCT.yaml
  v1.27/mirantis-kubernetes-engine/README.md
  v1.27/mirantis-kubernetes-engine/e2e.log
  v1.27/mirantis-kubernetes-engine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2657 Conformance results for v1.27/ZStack Edge
  v1.27/ZStack Edge/PRODUCT.yaml
  v1.27/ZStack Edge/README.md
  v1.27/ZStack Edge/e2e.log
  v1.27/ZStack Edge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2659 Conformance results for v1.27/viola
  v1.27/viola/PRODUCT.yaml
  v1.27/viola/README.md
  v1.27/viola/e2e.log
  v1.27/viola/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2661 Conformance results for v1.26/metakube-openstack
  v1.26/metakube-openstack/PRODUCT.yaml
  v1.26/metakube-openstack/README.md
  v1.26/metakube-openstack/e2e.log
  v1.26/metakube-openstack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2662 Conformance results for v1.26/ibm-openshift
  v1.26/ibm-openshift/PRODUCT.yaml
  v1.26/ibm-openshift/README.md
  v1.26/ibm-openshift/e2e.log
  v1.26/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2663 Add conformance results for v1.27/vcluster
  v1.27/vcluster/PRODUCT.yaml
  v1.27/vcluster/README.md
  v1.27/vcluster/e2e.log
  v1.27/vcluster/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2666 Conformance result for v1.27/daocloud
  v1.27/daocloud/PRODUCT.yaml
  v1.27/daocloud/README.md
  v1.27/daocloud/e2e.log
  v1.27/daocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2667 Conformance results for v1.27/gec-gks
  v1.27/gec-gks/PRODUCT.yaml
  v1.27/gec-gks/README.md
  v1.27/gec-gks/e2e.log
  v1.27/gec-gks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2668 Conformance results for v1.27/DKE
  v1.27/DiamantiKubernetesEngine/PRODUCT.yaml
  v1.27/DiamantiKubernetesEngine/README.md
  v1.27/DiamantiKubernetesEngine/e2e.log
  v1.27/DiamantiKubernetesEngine/junit_01.xml
Labels: not-verifiable, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2669 Conformance results for v1.26/vmware-tanzu-kubernetes-grid
  v1.26/vmware-tanzu-kubernetes-grid/PRODUCT.yaml
  v1.26/vmware-tanzu-kubernetes-grid/README.md
  v1.26/vmware-tanzu-kubernetes-grid/e2e.log
  v1.26/vmware-tanzu-kubernetes-grid/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2670 Update conformance results for v1.25/magellano
  v1.25/magellano/PRODUCT.yaml
  v1.25/magellano/README.md
  v1.25/magellano/e2e.log
  v1.25/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2671 Conformance results for v1.27/vke
  v1.27/vke/PRODUCT.yaml
  v1.27/vke/README.md
  v1.27/vke/e2e.log
  v1.27/vke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2672 Conformance results for v1.26/Cloudboostr
  v1.26/cloudboostr/PRODUCT.yaml
  v1.26/cloudboostr/README.md
  v1.26/cloudboostr/e2e.log
  v1.26/cloudboostr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2675 Update conformance results for v1.25/iks
  v1.25/iks/PRODUCT.yaml
  v1.25/iks/README.md
  v1.25/iks/e2e.log
  v1.25/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2674 Update conformance results for v1.26/iks
  v1.26/iks/PRODUCT.yaml
  v1.26/iks/README.md
  v1.26/iks/e2e.log
  v1.26/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2673 Update conformance results for v1.27/iks
  v1.27/iks/PRODUCT.yaml
  v1.27/iks/README.md
  v1.27/iks/e2e.log
  v1.27/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2676 Update conformance results for v1.25/ibm-openshift
  v1.25/ibm-openshift/PRODUCT.yaml
  v1.25/ibm-openshift/README.md
  v1.25/ibm-openshift/e2e.log
  v1.25/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25
