Repository cncf/k8s-conformance, pull requests merged in 2023-09, with the labels that each got.

#2765 Conformance results for v1.26/catalyst-cloud
  v1.26/catalyst-cloud/PRODUCT.yaml
  v1.26/catalyst-cloud/README.md
  v1.26/catalyst-cloud/e2e.log
  v1.26/catalyst-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2766 Conformance results for v1.28/desktop-kubernetes
  v1.28/desktop-kubernetes/PRODUCT.yaml
  v1.28/desktop-kubernetes/README.md
  v1.28/desktop-kubernetes/e2e.log
  v1.28/desktop-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2767 CNCF conformance results for k8s v1.26/volcengine-vke
  v1.26/volcengine-vke/PRODUCT.yaml
  v1.26/volcengine-vke/README.md
  v1.26/volcengine-vke/e2e.log
  v1.26/volcengine-vke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2772 Conformance results for v1.26/stackit-kubernetes-engine
  v1.26/stackit-kubernetes-engine/PRODUCT.yaml
  v1.26/stackit-kubernetes-engine/README.md
  v1.26/stackit-kubernetes-engine/e2e.log
  v1.26/stackit-kubernetes-engine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2774 Add conformance results for v1.28/vcluster
  v1.28/vcluster/PRODUCT.yaml
  v1.28/vcluster/README.md
  v1.28/vcluster/e2e.log
  v1.28/vcluster/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2775 Update conformance results for v1.26/ibm-openshift
  v1.26/ibm-openshift/PRODUCT.yaml
  v1.26/ibm-openshift/README.md
  v1.26/ibm-openshift/e2e.log
  v1.26/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2780 Conformance results for v1.28/qbo-cloud
  v1.28/qbo/PRODUCT.yaml
  v1.28/qbo/README.md
  v1.28/qbo/e2e.log
  v1.28/qbo/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2783 Conformance test results for v1.26/magellano
  v1.26/magellano/PRODUCT.yaml
  v1.26/magellano/README.md
  v1.26/magellano/e2e.log
  v1.26/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2784 Conformance test results for v1.28/asuscloudinfra
  v1.28/asuscloudinfra/PRODUCT.yaml
  v1.28/asuscloudinfra/README.md
  v1.28/asuscloudinfra/e2e.log
  v1.28/asuscloudinfra/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2787 Conformance test results for v1.26/kamaji
  v1.26/kamaji/PRODUCT.yaml
  v1.26/kamaji/README.md
  v1.26/kamaji/e2e.log
  v1.26/kamaji/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2786 Conformance test results for v1.27/kamaji
  v1.27/kamaji/PRODUCT.yaml
  v1.27/kamaji/README.md
  v1.27/kamaji/e2e.log
  v1.27/kamaji/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2785 Conformance test result for v1.28/kamaji
  v1.28/kamaji/PRODUCT.yaml
  v1.28/kamaji/README.md
  v1.28/kamaji/e2e.log
  v1.28/kamaji/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2788 Conformance results for v1.28/kubeasz
  v1.28/kubeasz/PRODUCT.yaml
  v1.28/kubeasz/README.md
  v1.28/kubeasz/e2e.log
  v1.28/kubeasz/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2805 Conformance results for v1.28/ericsson-ccd
  v1.28/ericsson-ccd/PRODUCT.yaml
  v1.28/ericsson-ccd/README.md
  v1.28/ericsson-ccd/e2e.log
  v1.28/ericsson-ccd/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2813 Conformance Results for v1.27/ecloud
  v1.27/ecloud/PRODUCT.yaml
  v1.27/ecloud/README.md
  v1.27/ecloud/e2e.log
  v1.27/ecloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2816 Conformance results for v1.27/American-Cloud
  v1.27/American-Cloud/202309061423_sonobuoy_71acd09a-14ae-4ae4-8ef5-04cc5c9a1984.tar.gz
  v1.27/American-Cloud/PRODUCT.yaml
  v1.27/American-Cloud/README.md
  v1.27/American-Cloud/e2e.log
  v1.27/American-Cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2818 Conformance results for v1.27/WeaveGitopsEnterprise
  v1.27/weave gitops enterprise/PRODUCT.yaml
  v1.27/weave gitops enterprise/README.md
  v1.27/weave gitops enterprise/e2e.log
  v1.27/weave gitops enterprise/junit_01.xml
  v1.27/weave gitops enterprise/sonobuoy.tar.gz
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2819 add Kind v1.26 conformance results
  v1.26/kind/PRODUCT.yaml
  v1.26/kind/README.md
  v1.26/kind/e2e.log
  v1.26/kind/junit_01.xml
  v1.26/kind/kind.svg
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2820 kind v1.27 conformance results
  v1.27/kind/PRODUCT.yaml
  v1.27/kind/README.md
  v1.27/kind/e2e.log
  v1.27/kind/junit_01.xml
  v1.27/kind/kind.svg
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2823 feat: update requirements to add only required files
  instructions.md
Labels: meta

#2821 Conformance results for v1.28/kind
  v1.28/kind/PRODUCT.yaml
  v1.28/kind/README.md
  v1.28/kind/e2e.log
  v1.28/kind/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2824 Conformance results for v1.28/AlibabaCloud
  v1.28/alicloud/PRODUCT.yaml
  v1.28/alicloud/README.md
  v1.28/alicloud/e2e.log
  v1.28/alicloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2826 Conformance results for v1.26/whitemist
  v1.26/whitemist/PRODUCT.yaml
  v1.26/whitemist/README.md
  v1.26/whitemist/e2e.log
  v1.26/whitemist/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2827 Conformance test results for v1.28/k3s
  v1.28/k3s/PRODUCT.yaml
  v1.28/k3s/README.md
  v1.28/k3s/e2e.log
  v1.28/k3s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2828 Conformance test results for v1.28/rke-government
  v1.28/rke-government/PRODUCT.yaml
  v1.28/rke-government/README.md
  v1.28/rke-government/e2e.log
  v1.28/rke-government/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2829 Conformance results for v1.27/vmware-tanzu-kubernetes-grid
  v1.27/vmware-tanzu-kubernetes-grid/PRODUCT.yaml
  v1.27/vmware-tanzu-kubernetes-grid/README.md
  v1.27/vmware-tanzu-kubernetes-grid/e2e.log
  v1.27/vmware-tanzu-kubernetes-grid/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2825 Conformance results for v1.27/kubespray
  v1.27/kubespray/PRODUCT.yaml
  v1.27/kubespray/README.md
  v1.27/kubespray/e2e.log
  v1.27/kubespray/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2831 Conformance Results for v1.28/rafay
  v1.28/rafay/PRODUCT.yaml
  v1.28/rafay/README.md
  v1.28/rafay/e2e.log
  v1.28/rafay/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2832 Conformance results for v1.28/shangfu
  v1.28/shangfu/PRODUCT.yaml
  v1.28/shangfu/README.md
  v1.28/shangfu/e2e.log
  v1.28/shangfu/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2833 Conformance Results for v1.27/linode
  v1.27/linode/PRODUCT.yaml
  v1.27/linode/README.md
  v1.27/linode/e2e.log
  v1.27/linode/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2834 Conformance results for v1.27/d2iq
  v1.27/konvoy/PRODUCT.yaml
  v1.27/konvoy/README.md
  v1.27/konvoy/e2e.log
  v1.27/konvoy/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2835 Conformance test results for v1.28/daocloud
  v1.28/daocloud/PRODUCT.yaml
  v1.28/daocloud/README.md
  v1.28/daocloud/e2e.log
  v1.28/daocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2836 Conformance results for v1.26/ardc
  v1.26/ardc/PRODUCT.yaml
  v1.26/ardc/README.md
  v1.26/ardc/e2e.log
  v1.26/ardc/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2837 Conformance results for v1.28/iks
  v1.28/iks/PRODUCT.yaml
  v1.28/iks/README.md
  v1.28/iks/e2e.log
  v1.28/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2838 Conformance result for v1.27/rancher
  v1.27/rancher/PRODUCT.yaml
  v1.27/rancher/README.md
  v1.27/rancher/e2e.log
  v1.27/rancher/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2839 Adding Conformance results for v1.27/pmcp
  v1.27/pmcp/PRODUCT.yaml
  v1.27/pmcp/README.md
  v1.27/pmcp/e2e.log
  v1.27/pmcp/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27
