Repository cncf/k8s-conformance, pull requests merged in 2023-12, with the labels that each got.

#2906 Conformance results for v1.28/vmware-tanzu-kubernetes-grid
  v1.28/vmware-tanzu-kubernetes-grid/PRODUCT.yaml
  v1.28/vmware-tanzu-kubernetes-grid/README.md
  v1.28/vmware-tanzu-kubernetes-grid/e2e.log
  v1.28/vmware-tanzu-kubernetes-grid/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2901 Conformance results for v1.26/navimentum
  v1.26/navimentum/PRODUCT.yaml
  v1.26/navimentum/README.md
  v1.26/navimentum/e2e.log
  v1.26/navimentum/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2904 Conformance results for v1.28/Lenovo-xCloud-Container-Platform
  v1.28/lenovo-xcloud-container-platform/PRODUCT.yaml
  v1.28/lenovo-xcloud-container-platform/README.md
  v1.28/lenovo-xcloud-container-platform/e2e.log
  v1.28/lenovo-xcloud-container-platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2913 Conformance results for v1.28/DKE
  v1.28/DiamantiKubernetesEngine/PRODUCT.yaml
  v1.28/DiamantiKubernetesEngine/README.md
  v1.28/DiamantiKubernetesEngine/e2e.log
  v1.28/DiamantiKubernetesEngine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2914 CNCF conformance results for k8s v1.28/volcengine-vke
  v1.28/volcengine-vke/PRODUCT.yaml
  v1.28/volcengine-vke/README.md
  v1.28/volcengine-vke/e2e.log
  v1.28/volcengine-vke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2915 Conformance results for v1.28/linode
  v1.28/linode/PRODUCT.yaml
  v1.28/linode/README.md
  v1.28/linode/e2e.log
  v1.28/linode/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2916 Conformance results for v1.27/ske
  v1.27/ske/PRODUCT.yaml
  v1.27/ske/README.md
  v1.27/ske/e2e.log
  v1.27/ske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2918 Update conformance results for v1.28/iks
  v1.28/iks/PRODUCT.yaml
  v1.28/iks/README.md
  v1.28/iks/e2e.log
  v1.28/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2919 Update conformance results for v1.27/iks
  v1.27/iks/PRODUCT.yaml
  v1.27/iks/README.md
  v1.27/iks/e2e.log
  v1.27/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2920 Update conformance results for v1.26/iks
  v1.26/iks/PRODUCT.yaml
  v1.26/iks/README.md
  v1.26/iks/e2e.log
  v1.26/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2917 Conformance results for v1.28/pmcp
  v1.28/pmcp/PRODUCT.yaml
  v1.28/pmcp/README.md
  v1.28/pmcp/e2e.log
  v1.28/pmcp/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2925 Conformance test result for v1.27/platform9
  v1.27/platform9/PRODUCT.yaml
  v1.27/platform9/README.md
  v1.27/platform9/e2e.log
  v1.27/platform9/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2924 Conformance results for v1.27/cke
  v1.27/cke/PRODUCT.yaml
  v1.27/cke/README.md
  v1.27/cke/e2e.log
  v1.27/cke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2926 Conformance results for v1.27/acornsoft-cocktail
  v1.27/acornsoft-cocktail/PRODUCT.yaml
  v1.27/acornsoft-cocktail/README.md
  v1.27/acornsoft-cocktail/e2e.log
  v1.27/acornsoft-cocktail/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2909 Conformance results for v1.27/metalstackcloud
  v1.27/metalstackcloud/PRODUCT.yaml
  v1.27/metalstackcloud/README.md
  v1.27/metalstackcloud/e2e.log
  v1.27/metalstackcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2933 Update Conformance Results for v1.27/alvistack-ansible-collection-kubernetes
  v1.27/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.27/alvistack-ansible-collection-kubernetes/README.md
  v1.27/alvistack-ansible-collection-kubernetes/e2e.log
  v1.27/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2934 Update Conformance Results for v1.27/alvistack-vagrant-kubernetes
  v1.27/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.27/alvistack-vagrant-kubernetes/README.md
  v1.27/alvistack-vagrant-kubernetes/e2e.log
  v1.27/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2935 Update Conformance Results for v1.28/alvistack-ansible-collection-kubernetes
  v1.28/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.28/alvistack-ansible-collection-kubernetes/README.md
  v1.28/alvistack-ansible-collection-kubernetes/e2e.log
  v1.28/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2936 Update Conformance Results for v1.28/alvistack-vagrant-kubernetes
  v1.28/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.28/alvistack-vagrant-kubernetes/README.md
  v1.28/alvistack-vagrant-kubernetes/e2e.log
  v1.28/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2937 Conformance Results for v1.29/alvistack-ansible-collection-kubernetes
  v1.29/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.29/alvistack-ansible-collection-kubernetes/README.md
  v1.29/alvistack-ansible-collection-kubernetes/e2e.log
  v1.29/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2938 Conformance Results for v1.29/alvistack-vagrant-kubernetes
  v1.29/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.29/alvistack-vagrant-kubernetes/README.md
  v1.29/alvistack-vagrant-kubernetes/e2e.log
  v1.29/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2940 Conformance results for v1.27/aruba
  v1.27/aruba/PRODUCT.yaml
  v1.27/aruba/README.md
  v1.27/aruba/e2e.log
  v1.27/aruba/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2941 Conformance results for v1.29/talos
  v1.29/talos/PRODUCT.yaml
  v1.29/talos/README.md
  v1.29/talos/e2e.log
  v1.29/talos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2943 Conformance results for v1.28/oke
  v1.28/oke/PRODUCT.yaml
  v1.28/oke/README.md
  v1.28/oke/e2e.log
  v1.28/oke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28
