Repository cncf/k8s-conformance, pull requests merged in 2023-10, with the labels that each got.

#2840 Conformance result for v1.27/rke
  v1.27/rke/PRODUCT.yaml
  v1.27/rke/README.md
  v1.27/rke/e2e.log
  v1.27/rke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2842 Update conformance results for v1.27/iks
  v1.27/iks/PRODUCT.yaml
  v1.27/iks/README.md
  v1.27/iks/e2e.log
  v1.27/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2843 Update conformance results for v1.26/iks
  v1.26/iks/PRODUCT.yaml
  v1.26/iks/README.md
  v1.26/iks/e2e.log
  v1.26/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2845 Conformance results for v1.28/vke
  v1.28/vke/PRODUCT.yaml
  v1.28/vke/README.md
  v1.28/vke/e2e.log
  v1.28/vke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2846 Conformance results for v1.28/digitalocean
  v1.28/digitalocean/PRODUCT.yaml
  v1.28/digitalocean/README.md
  v1.28/digitalocean/e2e.log
  v1.28/digitalocean/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2847 Conformance Results v1.28/eks-d
  v1.28/eks-d/PRODUCT.yaml
  v1.28/eks-d/README.md
  v1.28/eks-d/e2e.log
  v1.28/eks-d/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2848 Adding Conformance results for v1.28/civo
  v1.28/civo/PRODUCT.yaml
  v1.28/civo/README.md
  v1.28/civo/e2e.log
  v1.28/civo/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2849 Conformance results for v1.28/k0s
  v1.28/k0s/PRODUCT.yaml
  v1.28/k0s/README.md
  v1.28/k0s/e2e.log
  v1.28/k0s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2850 Conformance results for v1.28/microk8s
  v1.28/microk8s/PRODUCT.yaml
  v1.28/microk8s/README.md
  v1.28/microk8s/e2e.log
  v1.28/microk8s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2851 Conformance results for v1.28/Deckhouse
  v1.28/deckhouse/PRODUCT.yaml
  v1.28/deckhouse/README.md
  v1.28/deckhouse/e2e.log
  v1.28/deckhouse/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2852 Conformance results for v1.28/DeckhouseInstaller
  v1.28/dhctl/PRODUCT.yaml
  v1.28/dhctl/README.md
  v1.28/dhctl/e2e.log
  v1.28/dhctl/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2853 Conformance result for v1.28/elastx
  v1.28/elastx/PRODUCT.yaml
  v1.28/elastx/README.md
  v1.28/elastx/e2e.log
  v1.28/elastx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2841 Conformance results for v1.27/ACP
  v1.27/acp/PRODUCT.yaml
  v1.27/acp/README.md
  v1.27/acp/e2e.log
  v1.27/acp/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2855 Conformance result for v1.28/kublr
  v1.28/kublr/PRODUCT.yaml
  v1.28/kublr/README.md
  v1.28/kublr/e2e.log
  v1.28/kublr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2857 Conformance results for v1.27/plusserver-pske
  v1.27/plusserver-pske/PRODUCT.yaml
  v1.27/plusserver-pske/README.md
  v1.27/plusserver-pske/e2e.log
  v1.27/plusserver-pske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2858 Conformance results for v1.27/shturval
  v1.27/shturval/PRODUCT.yaml
  v1.27/shturval/README.md
  v1.27/shturval/e2e.log
  v1.27/shturval/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2859 Conformance results for v1.26/upcloud
  v1.26/upcloud/PRODUCT.yaml
  v1.26/upcloud/README.md
  v1.26/upcloud/e2e.log
  v1.26/upcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2864 Conformance results for v1.28/eks
  v1.28/eks/PRODUCT.yaml
  v1.28/eks/README.md
  v1.28/eks/e2e.log
  v1.28/eks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2865 Conformance results for v1.28/eks-a
  v1.28/eks-a/PRODUCT.yaml
  v1.28/eks-a/README.md
  v1.28/eks-a/e2e.log
  v1.28/eks-a/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2863 Conformance results for v1.26/metalstackcloud
  v1.26/metalstackcloud/PRODUCT.yaml
  v1.26/metalstackcloud/README.md
  v1.26/metalstackcloud/e2e.log
  v1.26/metalstackcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2861 Conformance result for v1.26/CeaKE
  v1.26/ceake/PRODUCT.yaml
  v1.26/ceake/README.md
  v1.26/ceake/e2e.log
  v1.26/ceake/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2866 feat: add prune repo script
  hack/prune-repo.sh
Labels: meta
