Repository cncf/k8s-conformance, pull requests merged in 2023-05, with the labels that each got.

#2562 Conformance results for v1.27/k0s
  v1.27/k0s/PRODUCT.yaml
  v1.27/k0s/README.md
  v1.27/k0s/e2e.log
  v1.27/k0s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2565 Conformance results for v1.27/CloudLink-CMP
  v1.27/cloudlink-cmp/CloudLink-logo.svg
  v1.27/cloudlink-cmp/PRODUCT.yaml
  v1.27/cloudlink-cmp/README.md
  v1.27/cloudlink-cmp/add-machines.png
  v1.27/cloudlink-cmp/authorize.png
  v1.27/cloudlink-cmp/choose-components.png
  v1.27/cloudlink-cmp/cluster.png
  v1.27/cloudlink-cmp/create-clusterrole.png
  v1.27/cloudlink-cmp/create-serviceaccount.png
  v1.27/cloudlink-cmp/e2e.log
  v1.27/cloudlink-cmp/get-token.png
  v1.27/cloudlink-cmp/init-machine.png
  v1.27/cloudlink-cmp/junit_01.xml
  v1.27/cloudlink-cmp/login.png
  v1.27/cloudlink-cmp/save-machine.png
  v1.27/cloudlink-cmp/set-machine.png
  v1.27/cloudlink-cmp/shell.png
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2568 Conformance results for v1.26/plusserver-pske
  v1.26/plusserver-pske/PRODUCT.yaml
  v1.26/plusserver-pske/README.md
  v1.26/plusserver-pske/e2e.log
  v1.26/plusserver-pske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2570 Conformance test results for v1.26/ridge
  v1.26/ridge/PRODUCT.yaml
  v1.26/ridge/README.md
  v1.26/ridge/e2e.log
  v1.26/ridge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2571 Conformance results for v1.25/kOps
  v1.25/kops/PRODUCT.yaml
  v1.25/kops/README.md
  v1.25/kops/e2e.log
  v1.25/kops/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2574 Update conformance results for v1.25/iks
  v1.25/iks/PRODUCT.yaml
  v1.25/iks/README.md
  v1.25/iks/e2e.log
  v1.25/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2575 Update conformance results for v1.25/ibm-openshift
  v1.25/ibm-openshift/PRODUCT.yaml
  v1.25/ibm-openshift/README.md
  v1.25/ibm-openshift/e2e.log
  v1.25/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2576 Conformance results for v1.26/rke
  v1.26/rke/PRODUCT.yaml
  v1.26/rke/README.md
  v1.26/rke/e2e.log
  v1.26/rke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2572 Conformance results for v1.25/magellano
  v1.25/magellano/PRODUCT.yaml
  v1.25/magellano/README.md
  v1.25/magellano/e2e.log
  v1.25/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2583 Conformance Results for v1.26/rafay
  v1.26/rafay/PRODUCT.yaml
  v1.26/rafay/README.md
  v1.26/rafay/Rafay_Logo.svg
  v1.26/rafay/e2e.log
  v1.26/rafay/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2584 Conformance test results for v1.27/kubeasz
  v1.27/kubeasz/PRODUCT.yaml
  v1.27/kubeasz/README.md
  v1.27/kubeasz/e2e.log
  v1.27/kubeasz/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2590 Conformance results for v1.25/accordion
  v1.25/accordion/PRODUCT.yaml
  v1.25/accordion/README.md
  v1.25/accordion/e2e.log
  v1.25/accordion/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2591 Conformance results for v1.27/easystack
  v1.27/easystack/PRODUCT.yaml
  v1.27/easystack/README.md
  v1.27/easystack/e2e.log
  v1.27/easystack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2592 Add conformance results for v1.26/ovh
  v1.26/ovh/PRODUCT.yaml
  v1.26/ovh/README.md
  v1.26/ovh/e2e.log
  v1.26/ovh/junit_01.xml
  v1.26/ovh/sonobuoy.tar.gz
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2593 Conformance results for v1.26/KubeKey
  v1.26/kubekey/PRODUCT.yaml
  v1.26/kubekey/README.md
  v1.26/kubekey/e2e.log
  v1.26/kubekey/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2594 Conformance results for v1.26/KubeSphere
  v1.26/KubeSphere/PRODUCT.yaml
  v1.26/KubeSphere/README.md
  v1.26/KubeSphere/e2e.log
  v1.26/KubeSphere/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2586 Conformance results for v1.27/gke
  v1.27/gke/PRODUCT.yaml
  v1.27/gke/README.md
  v1.27/gke/e2e.log
  v1.27/gke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2587 Conformance results for v1.27/replicated
  v1.27/replicated/202305091621_sonobuoy_93a8e374-0d22-490c-b1b4-78d130ad2c42.tar.gz
  v1.27/replicated/PRODUCT.yaml
  v1.27/replicated/README.md
  v1.27/replicated/e2e.log
  v1.27/replicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2595 Conformance results for v1.25/gec-gks
  v1.25/gec-gks/PRODUCT.yaml
  v1.25/gec-gks/README.md
  v1.25/gec-gks/e2e.log
  v1.25/gec-gks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2596 Conformance Results for v1.27/eks-d
  v1.27/eks-d/PRODUCT.yaml
  v1.27/eks-d/README.md
  v1.27/eks-d/e2e.log
  v1.27/eks-d/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2599 Conformance results for v1.26/taikun
  v1.26/taikun/PRODUCT.yaml
  v1.26/taikun/README.md
  v1.26/taikun/e2e.log
  v1.26/taikun/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2600 Conformance results for v1.27/orka
  v1.27/orka/PRODUCT.yaml
  v1.27/orka/README.MD
  v1.27/orka/e2e.log
  v1.27/orka/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2606 Conformance results for v1.25/k8s-tew
  v1.25/k8s-tew/PRODUCT.yaml
  v1.25/k8s-tew/README.md
  v1.25/k8s-tew/e2e.log
  v1.25/k8s-tew/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2602 Conformance results for v1.27/k8s-tew
  v1.27/k8s-tew/PRODUCT.yaml
  v1.27/k8s-tew/README.md
  v1.27/k8s-tew/e2e.log
  v1.27/k8s-tew/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2609 Conformance results for v1.26/h3c-cloudos
  v1.26/h3c-cloudos/PRODUCT.yaml
  v1.26/h3c-cloudos/README.md
  v1.26/h3c-cloudos/e2e.log
  v1.26/h3c-cloudos/junit_01.xml
  v1.26/h3c-cloudos/result.tar.gz
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2605 Conformance results for v1.27/h3c-cloudos
  v1.27/h3c-cloudos/PRODUCT.yaml
  v1.27/h3c-cloudos/README.md
  v1.27/h3c-cloudos/e2e.log
  v1.27/h3c-cloudos/junit_01.xml
  v1.27/h3c-cloudos/sonobuoy.tar.gz
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2597 Conformance results for v1.26/gec-gks
  v1.26/gec-gks/PRODUCT.yaml
  v1.26/gec-gks/README.md
  v1.26/gec-gks/e2e.log
  v1.26/gec-gks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2611 Conformance result for v1.26/rancher
  v1.26/rancher/PRODUCT.yaml
  v1.26/rancher/README.md
  v1.26/rancher/e2e.log
  v1.26/rancher/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2612 Conformance results for v1.25/giantswarm-azure
  v1.25/giantswarm-azure/PRODUCT.yaml
  v1.25/giantswarm-azure/README.md
  v1.25/giantswarm-azure/e2e.log
  v1.25/giantswarm-azure/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2613 Conformance results for v1.26/openshift
  v1.26/openshift/PRODUCT.yaml
  v1.26/openshift/README.md
  v1.26/openshift/e2e.log
  v1.26/openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2618 Conformance results for v1.27/Exoscale
  v1.27/exoscale/PRODUCT.yaml
  v1.27/exoscale/README.md
  v1.27/exoscale/e2e.log
  v1.27/exoscale/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2619 Conformance results for v1.26/baiducloud
  v1.26/baiducloud/PRODUCT.yaml
  v1.26/baiducloud/README.md
  v1.26/baiducloud/e2e.log
  v1.26/baiducloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2621 Conformance results for v1.26/JDOS
  v1.26/JDOS/PRODUCT.yaml
  v1.26/JDOS/README.md
  v1.26/JDOS/e2e.log
  v1.26/JDOS/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2623 Conformance Results for v1.25/triliovault-for-kubernetes
  v1.25/triliovault-for-kubernetes/202305170536_sonobuoy_a6696298-4771-4e2a-aa1f-f94970fce842.tar.gz
  v1.25/triliovault-for-kubernetes/PRODUCT.yaml
  v1.25/triliovault-for-kubernetes/README.md
  v1.25/triliovault-for-kubernetes/e2e.log
  v1.25/triliovault-for-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2625 Conformance Results for v1.26/jdcloud
  v1.26/jdcloud/PRODUCT.yaml
  v1.26/jdcloud/README.md
  v1.26/jdcloud/e2e.log
  v1.26/jdcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2628 Conformance results for v1.27/civo
  v1.27/civo/202305180824_sonobuoy_467e722c-bcea-4ff8-9b59-c3920d3870f8.tar.gz
  v1.27/civo/PRODUCT.yaml
  v1.27/civo/README.md
  v1.27/civo/e2e.log
  v1.27/civo/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2627 Conformance results for v1.26/civo
  v1.26/civo/202305180655_sonobuoy_a430208a-4607-4581-82b7-c65316040577.tar.gz
  v1.26/civo/PRODUCT.yaml
  v1.26/civo/README.md
  v1.26/civo/e2e.log
  v1.26/civo/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2629 Conformance results for v1.26/chinamobile-cmit-paas
  v1.26/chinamobile-cmit-paas/PRODUCT.yaml
  v1.26/chinamobile-cmit-paas/README.md
  v1.26/chinamobile-cmit-paas/e2e.log
  v1.26/chinamobile-cmit-paas/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2632 Conformance results for v1.25/whitemist
  v1.25/whitemist/PRODUCT.yaml
  v1.25/whitemist/README.md
  v1.25/whitemist/e2e.log
  v1.25/whitemist/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2634 Conformance results for v1.27/openpalette 🐳
  v1.27/openpalette/PRODUCT.yaml
  v1.27/openpalette/README.md
  v1.27/openpalette/e2e.log
  v1.27/openpalette/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2635 Conformance results for v1.26/QingCloud Kubernetes Engine (QKE)
  v1.26/QKE/PRODUCT.yaml
  v1.26/QKE/QingCloudLogo.ai
  v1.26/QKE/README.md
  v1.26/QKE/e2e.log
  v1.26/QKE/guide1.png
  v1.26/QKE/guide2.png
  v1.26/QKE/guide3.png
  v1.26/QKE/guide4.png
  v1.26/QKE/guide5.png
  v1.26/QKE/guide6.png
  v1.26/QKE/guide7.png
  v1.26/QKE/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2636 Conformance results for v1.27/eks-a
  v1.27/eks-a/PRODUCT.yaml
  v1.27/eks-a/README.md
  v1.27/eks-a/e2e.log
  v1.27/eks-a/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2638 Conformance results for v1.27/iks
  v1.27/iks/PRODUCT.yaml
  v1.27/iks/README.md
  v1.27/iks/e2e.log
  v1.27/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2630 Conformance results for v1.26/DKE
  v1.26/DiamantiKubernetesEngine/PRODUCT.yaml
  v1.26/DiamantiKubernetesEngine/README.md
  v1.26/DiamantiKubernetesEngine/e2e.log
  v1.26/DiamantiKubernetesEngine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2639 Conformance Results for v1.26/triliovault-for-kubernetes
  v1.26/triliovault-for-kubernetes/202305170755_sonobuoy_ab874b40-8c4e-4df0-8c2c-da8871705818.tar.gz
  v1.26/triliovault-for-kubernetes/PRODUCT.yaml
  v1.26/triliovault-for-kubernetes/README.md
  v1.26/triliovault-for-kubernetes/e2e.log
  v1.26/triliovault-for-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2642 Conformance results for v1.26/nks
  v1.26/nks/PRODUCT.yaml
  v1.26/nks/README.md
  v1.26/nks/e2e.log
  v1.26/nks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2643 Conformance results for v1.27/eks
  v1.27/eks/PRODUCT.yaml
  v1.27/eks/README.md
  v1.27/eks/e2e.log
  v1.27/eks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2646 Update conformance results for v1.25/ibm-openshift
  v1.25/ibm-openshift/PRODUCT.yaml
  v1.25/ibm-openshift/README.md
  v1.25/ibm-openshift/e2e.log
  v1.25/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2645 Update conformance results for v1.25/iks
  v1.25/iks/PRODUCT.yaml
  v1.25/iks/README.md
  v1.25/iks/e2e.log
  v1.25/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2647 Conformance results for v1.27/ericsson-ccd
  v1.27/ericsson-ccd/PRODUCT.yaml
  v1.27/ericsson-ccd/README.md
  v1.27/ericsson-ccd/e2e.log
  v1.27/ericsson-ccd/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2648 Conformance results for v1.27/digitalocean
  v1.27/digitalocean/PRODUCT.yaml
  v1.27/digitalocean/README.md
  v1.27/digitalocean/e2e.log
  v1.27/digitalocean/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2637 Conformance results for v1.27/SECloudit
  v1.27/SECloudit/PRODUCT.yaml
  v1.27/SECloudit/README.md
  v1.27/SECloudit/e2e.log
  v1.27/SECloudit/junit_01.xml
  v1.27/SECloudit/login.png
  v1.27/SECloudit/register_cluster.png
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27
