Repository cncf/k8s-conformance, pull requests merged in 2023-11, with the labels that each got.

#2868 Conformance results for v1.27/aks-engine-azurestack
  v1.27/aks-engine-azurestack/PRODUCT.yaml
  v1.27/aks-engine-azurestack/README.md
  v1.27/aks-engine-azurestack/e2e.log
  v1.27/aks-engine-azurestack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2869 Conformance results for v1.27/tkgi
  v1.27/tkgi/PRODUCT.yaml
  v1.27/tkgi/README.md
  v1.27/tkgi/e2e.log
  v1.27/tkgi/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2870 Conformance results for v1.27/elastisys-compliant-kubernetes
  v1.27/elastisys-compliant-kubernetes/PRODUCT.yaml
  v1.27/elastisys-compliant-kubernetes/README.md
  v1.27/elastisys-compliant-kubernetes/e2e.log
  v1.27/elastisys-compliant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2872 Update conformance results for v1.26/iks
  v1.26/iks/PRODUCT.yaml
  v1.26/iks/README.md
  v1.26/iks/e2e.log
  v1.26/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2871 Update conformance results for v1.27/iks
  v1.27/iks/PRODUCT.yaml
  v1.27/iks/README.md
  v1.27/iks/e2e.log
  v1.27/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2874 Conformance results for v1.27/openshift
  v1.27/openshift/PRODUCT.yaml
  v1.27/openshift/README.md
  v1.27/openshift/e2e.log
  v1.27/openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2880 add conformance result resources for v1.28/bxcloud-platform
  v1.28/bxcloud-platform/PRODUCT.yaml
  v1.28/bxcloud-platform/README.md
  v1.28/bxcloud-platform/e2e.log
  v1.28/bxcloud-platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2883 Conformance results for v1.27/upcloud
  v1.27/upcloud/PRODUCT.yaml
  v1.27/upcloud/README.md
  v1.27/upcloud/e2e.log
  v1.27/upcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2888 Conformance results for v1.27/taikun
  v1.27/taikun/PRODUCT.yaml
  v1.27/taikun/README.md
  v1.27/taikun/e2e.log
  v1.27/taikun/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2885 Conformance results for v1.27/metakube-openstack
  v1.27/metakube-openstack/PRODUCT.yaml
  v1.27/metakube-openstack/README.md
  v1.27/metakube-openstack/e2e.log
  v1.27/metakube-openstack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2889 Submitting k8s conformance results for v1.27 for windrivercloud.
  v1.27/windrivercloud/PRODUCT.yaml
  v1.27/windrivercloud/README.md
  v1.27/windrivercloud/e2e.log
  v1.27/windrivercloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2890 Conformance results for v1.27/starlingx
  v1.27/starlingx/PRODUCT.yaml
  v1.27/starlingx/README.md
  v1.27/starlingx/e2e.log
  v1.27/starlingx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2891 Update conformance results for v1.28/iks
  v1.28/iks/PRODUCT.yaml
  v1.28/iks/README.md
  v1.28/iks/e2e.log
  v1.28/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2892 Update conformance results for v1.27/iks
  v1.27/iks/PRODUCT.yaml
  v1.27/iks/README.md
  v1.27/iks/e2e.log
  v1.27/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2894 Update conformance results for v1.26/ibm-openshift
  v1.26/ibm-openshift/PRODUCT.yaml
  v1.26/ibm-openshift/README.md
  v1.26/ibm-openshift/e2e.log
  v1.26/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2895 Update conformance results for v1.26/magellano
  v1.26/magellano/PRODUCT.yaml
  v1.26/magellano/README.md
  v1.26/magellano/e2e.log
  v1.26/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2897 Add Openshift-OSD 4.14 v1.27 conformance
  v1.27/openshift-dedicated/PRODUCT.yaml
  v1.27/openshift-dedicated/README.md
  v1.27/openshift-dedicated/e2e.log
  v1.27/openshift-dedicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2902 Conformance results for v1.27/K-PaaS-Container-Platform
  v1.27/K-PaaS-Container-Platform/PRODUCT.yaml
  v1.27/K-PaaS-Container-Platform/README.md
  v1.27/K-PaaS-Container-Platform/e2e.log
  v1.27/K-PaaS-Container-Platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27
