Repository cncf/k8s-conformance, pull requests merged in 2023-07, with the labels that each got.

#2677 Conformance results for v1.27/kubermatic
  v1.27/kubermatic/PRODUCT.yaml
  v1.27/kubermatic/README.md
  v1.27/kubermatic/e2e.log
  v1.27/kubermatic/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2678 Update conformance results for v1.26/kubermatic
  v1.26/kubermatic/PRODUCT.yaml
  v1.26/kubermatic/README.md
  v1.26/kubermatic/e2e.log
  v1.26/kubermatic/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2679 Update conformance results for v1.25/kubermatic
  v1.25/kubermatic/PRODUCT.yaml
  v1.25/kubermatic/README.md
  v1.25/kubermatic/e2e.log
  v1.25/kubermatic/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2687 Adding Conformance results for v1.26/pmcp
  v1.26/pmcp/PRODUCT.yaml
  v1.26/pmcp/README.md
  v1.26/pmcp/e2e.log
  v1.26/pmcp/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2684 Conformance result for v1.25/ske
  v1.25/ske/PRODUCT.yaml
  v1.25/ske/README.md
  v1.25/ske/e2e.log
  v1.25/ske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2682 Conformance results for v1.27/smartx-sks
  v1.27/smartx-sks/PRODUCT.yaml
  v1.27/smartx-sks/README.md
  v1.27/smartx-sks/e2e.log
  v1.27/smartx-sks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2680 Conformance results for v1.25/smartx-sks
  v1.25/smartx-sks/PRODUCT.yaml
  v1.25/smartx-sks/README.md
  v1.25/smartx-sks/e2e.log
  v1.25/smartx-sks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2681 Conformance results for v1.26/smartx-sks
  v1.26/smartx-sks/PRODUCT.yaml
  v1.26/smartx-sks/README.md
  v1.26/smartx-sks/e2e.log
  v1.26/smartx-sks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2691 Conformance results for v1.25/Lenovo-xCloud-Container-Platform
  v1.25/lenovo-xcloud-container-platform/PRODUCT.yaml
  v1.25/lenovo-xcloud-container-platform/README.md
  v1.25/lenovo-xcloud-container-platform/e2e.log
  v1.25/lenovo-xcloud-container-platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.25, tests-verified-v1.25, no-failed-tests-v1.25

#2692 Conformance results for v1.27/Deckhouse
  v1.27/deckhouse/PRODUCT.yaml
  v1.27/deckhouse/README.md
  v1.27/deckhouse/e2e.log
  v1.27/deckhouse/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2693 Conformance results for v1.27/DeckhouseInstaller
  v1.27/dhctl/PRODUCT.yaml
  v1.27/dhctl/README.md
  v1.27/dhctl/e2e.log
  v1.27/dhctl/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2696 Conformance Results for v1.27/rafay
  v1.27/rafay/PRODUCT.yaml
  v1.27/rafay/README.md
  v1.27/rafay/Rafay_Logo.svg
  v1.27/rafay/e2e.log
  v1.27/rafay/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2699 Conformance result for v1.27/elastx
  v1.27/elastx/PRODUCT.yaml
  v1.27/elastx/README.md
  v1.27/elastx/e2e.log
  v1.27/elastx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2697 Conformance result for v1.26/elastx
  v1.26/elastx/PRODUCT.yaml
  v1.26/elastx/README.md
  v1.26/elastx/e2e.log
  v1.26/elastx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.26, release-v1.26, no-failed-tests-v1.26

#2701 Conformance results fot v1.27/kublr
  v1.27/kublr/PRODUCT.yaml
  v1.27/kublr/README.md
  v1.27/kublr/e2e.log
  v1.27/kublr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27
