Repository cncf/k8s-conformance, pull requests merged in 2024-09, with the labels that each got.

#3344 Conformance results for v1.30/gcore
  v1.30/gcore/PRODUCT.yaml
  v1.30/gcore/README.md
  v1.30/gcore/e2e.log
  v1.30/gcore/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3345 Conformance results for v1.29/ibm-openshift
  v1.29/ibm-openshift/PRODUCT.yaml
  v1.29/ibm-openshift/README.md
  v1.29/ibm-openshift/e2e.log
  v1.29/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3347 Conformance results for v1.29/K-PaaS-Container-Platform
  v1.29/K-PaaS-Container-Platform/PRODUCT.yaml
  v1.29/K-PaaS-Container-Platform/README.md
  v1.29/K-PaaS-Container-Platform/e2e.log
  v1.29/K-PaaS-Container-Platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3348 Conformance results for v1.29/metalstackcloud
  v1.29/metalstackcloud/PRODUCT.yaml
  v1.29/metalstackcloud/README.md
  v1.29/metalstackcloud/e2e.log
  v1.29/metalstackcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3349 Conformance results for v1.29/platform9
  v1.29/platform9/PRODUCT.yaml
  v1.29/platform9/README.md
  v1.29/platform9/e2e.log
  v1.29/platform9/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3350 Conformance results for v1.29/Cloudboostr
  v1.29/cloudboostr/PRODUCT.yaml
  v1.29/cloudboostr/README.md
  v1.29/cloudboostr/e2e.log
  v1.29/cloudboostr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3351 Conformance results for v1.31/desktop-kubernetes
  v1.31/desktop-kubernetes/PRODUCT.yaml
  v1.31/desktop-kubernetes/README.md
  v1.31/desktop-kubernetes/e2e.log
  v1.31/desktop-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3352 Conformance results for v1.29/h3c-cloudos
  v1.29/h3c-cloudos/PRODUCT.yaml
  v1.29/h3c-cloudos/README.md
  v1.29/h3c-cloudos/e2e.log
  v1.29/h3c-cloudos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3353 Conformance results for v1.31/Exoscale
  v1.31/exoscale/PRODUCT.yaml
  v1.31/exoscale/README.md
  v1.31/exoscale/e2e.log
  v1.31/exoscale/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3355 Conformance results for v1.31/cdk
  v1.31/cdk/PRODUCT.yaml
  v1.31/cdk/README.md
  v1.31/cdk/e2e.log
  v1.31/cdk/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3356 Conformance results for v1.31/k3s
  v1.31/k3s/PRODUCT.yaml
  v1.31/k3s/README.md
  v1.31/k3s/e2e.log
  v1.31/k3s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3357 Conformance results for v1.31/rke-government
  v1.31/rke-government/PRODUCT.yaml
  v1.31/rke-government/README.md
  v1.31/rke-government/e2e.log
  v1.31/rke-government/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3358 Conformance results for v1.31/nkd
  v1.31/nkd/PRODUCT.yaml
  v1.31/nkd/README.md
  v1.31/nkd/e2e.log
  v1.31/nkd/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3360 conformance results for v1.31/asuscloudinfra
  v1.31/asuscloudinfra/PRODUCT.yaml
  v1.31/asuscloudinfra/README.md
  v1.31/asuscloudinfra/e2e.log
  v1.31/asuscloudinfra/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3363 Conformance Results for v1.29/intel-kubernetes-service
  v1.29/intel-kubernetes-service/PRODUCT.yaml
  v1.29/intel-kubernetes-service/README.md
  v1.29/intel-kubernetes-service/e2e.log
  v1.29/intel-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3364 CNCF conformance results for k8s v1.29/ntnx-karbon
  v1.29/ntnx-karbon/PRODUCT.yaml
  v1.29/ntnx-karbon/README.md
  v1.29/ntnx-karbon/e2e.log
  v1.29/ntnx-karbon/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3365 Conformance results for v1.30/h3c-cloudos
  v1.30/h3c-cloudos/PRODUCT.yaml
  v1.30/h3c-cloudos/README.md
  v1.30/h3c-cloudos/e2e.log
  v1.30/h3c-cloudos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3366 Conformance results for v1.29/upcloud
  v1.29/upcloud/PRODUCT.yaml
  v1.29/upcloud/README.md
  v1.29/upcloud/e2e.log
  v1.29/upcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3367 Conformance results for v1.31/rafay
  v1.31/rafay/PRODUCT.yaml
  v1.31/rafay/README.md
  v1.31/rafay/e2e.log
  v1.31/rafay/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3368 Add conformance results for v1.29/kubeops
  v1.29/kubeops/PRODUCT.yaml
  v1.29/kubeops/README.md
  v1.29/kubeops/e2e.log
  v1.29/kubeops/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3369 Conformance results for v1.29/hpe-ere
  v1.29/hpe-ere/PRODUCT.yaml
  v1.29/hpe-ere/README.md
  v1.29/hpe-ere/e2e.log
  v1.29/hpe-ere/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3370 Conformance results for v1.30/linode
  v1.30/linode/PRODUCT.yaml
  v1.30/linode/README.md
  v1.30/linode/e2e.log
  v1.30/linode/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3373 Conformance results for v1.30/kubespray
  v1.30/kubespray/PRODUCT.yaml
  v1.30/kubespray/README.md
  v1.30/kubespray/e2e.log
  v1.30/kubespray/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3362 Conformance results for v1.29 denovo-hci
  v1.29/denovo-hci/PRODUCT.yaml
  v1.29/denovo-hci/README.md
  v1.29/denovo-hci/e2e.log
  v1.29/denovo-hci/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3371 Conformance results for v1.29/tks-cloud-service
  v1.29/tks-cloud-service/PRODUCT.yaml
  v1.29/tks-cloud-service/README.md
  v1.29/tks-cloud-service/e2e.log
  v1.29/tks-cloud-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3372 Conformance results for v1.29/tks-enterprise-solution
  v1.29/tks-enterprise-solution/PRODUCT.yaml
  v1.29/tks-enterprise-solution/README.md
  v1.29/tks-enterprise-solution/e2e.log
  v1.29/tks-enterprise-solution/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3376 Conformance results for v1.30/digitalocean
  v1.30/digitalocean/PRODUCT.yaml
  v1.30/digitalocean/README.md
  v1.30/digitalocean/e2e.log
  v1.30/digitalocean/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3378 Conformance results for v1.30/hpe-ere
  v1.30/hpe-ere/PRODUCT.yaml
  v1.30/hpe-ere/README.md
  v1.30/hpe-ere/e2e.log
  v1.30/hpe-ere/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3379 Conformance results for v1.31/hpe-ere
  v1.31/hpe-ere/PRODUCT.yaml
  v1.31/hpe-ere/README.md
  v1.31/hpe-ere/e2e.log
  v1.31/hpe-ere/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3380 Conformance results for v1.29/shturval
  v1.29/shturval/PRODUCT.yaml
  v1.29/shturval/README.md
  v1.29/shturval/e2e.log
  v1.29/shturval/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3385 Conformance results for v1.30/baiducloud
  v1.30/baiducloud/PRODUCT.yaml
  v1.30/baiducloud/README.md
  v1.30/baiducloud/e2e.log
  v1.30/baiducloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3388 Conformance results for v1.30/DKE
  v1.30/DiamantiKubernetesEngine/PRODUCT.yaml
  v1.30/DiamantiKubernetesEngine/README.md
  v1.30/DiamantiKubernetesEngine/e2e.log
  v1.30/DiamantiKubernetesEngine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3389 Conformance results for v1.30/constellation
  v1.30/constellation/PRODUCT.yaml
  v1.30/constellation/README.md
  v1.30/constellation/e2e.log
  v1.30/constellation/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3390 Conformance results for v1.30/ocne
  v1.30/ocne/PRODUCT.yaml
  v1.30/ocne/README.md
  v1.30/ocne/e2e.log
  v1.30/ocne/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3391 conformance results for v1.30/JDOS
  v1.30/JDOS/PRODUCT.yaml
  v1.30/JDOS/README.md
  v1.30/JDOS/e2e.log
  v1.30/JDOS/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3393 Conformance results for v1.30/jdcloud
  v1.30/jdcloud/PRODUCT.yaml
  v1.30/jdcloud/README.md
  v1.30/jdcloud/e2e.log
  v1.30/jdcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3394 Conformance results for v1.31/previder
  v1.31/previder/PRODUCT.yaml
  v1.31/previder/README.md
  v1.31/previder/e2e.log
  v1.31/previder/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3397 Conformance results for v1.30/kubeops
  v1.30/kubeops/PRODUCT.yaml
  v1.30/kubeops/README.md
  v1.30/kubeops/e2e.log
  v1.30/kubeops/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3398 Conformance results for v1.29/viola
  v1.29/viola/PRODUCT.yaml
  v1.29/viola/README.md
  v1.29/viola/e2e.log
  v1.29/viola/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3399 Conformance results for v1.31/kubermatic
  v1.31/kubermatic/PRODUCT.yaml
  v1.31/kubermatic/README.md
  v1.31/kubermatic/e2e.log
  v1.31/kubermatic/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3401 Conformance results for v1.29/openshift-dedicated
  v1.29/openshift-dedicated/PRODUCT.yaml
  v1.29/openshift-dedicated/README.md
  v1.29/openshift-dedicated/e2e.log
  v1.29/openshift-dedicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3403 Add conformance results for v1.31/ovh
  v1.31/ovh/PRODUCT.yaml
  v1.31/ovh/README.md
  v1.31/ovh/e2e.log
  v1.31/ovh/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3404 Conformance results for v1.29/elastisys-compliant-kubernetes
  v1.29/elastisys-compliant-kubernetes/PRODUCT.yaml
  v1.29/elastisys-compliant-kubernetes/README.md
  v1.29/elastisys-compliant-kubernetes/e2e.log
  v1.29/elastisys-compliant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3406 Conformance results for v1.31/iks
  v1.31/iks/PRODUCT.yaml
  v1.31/iks/README.md
  v1.31/iks/e2e.log
  v1.31/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3407 Conformance results for v1.30/taikun
  v1.30/taikun/PRODUCT.yaml
  v1.30/taikun/README.md
  v1.30/taikun/e2e.log
  v1.30/taikun/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3408 Conformance results for v1.29/ske
  v1.29/ske/PRODUCT.yaml
  v1.29/ske/README.md
  v1.29/ske/e2e.log
  v1.29/ske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3409 Conformance results for v1.31/gcore
  v1.31/gcore/PRODUCT.yaml
  v1.31/gcore/README.md
  v1.31/gcore/e2e.log
  v1.31/gcore/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31
