Repository cncf/k8s-conformance, pull requests merged in 2024-02, with the labels that each got.

#3010 CNCF conformance results for k8s v1.28/ntnx-karbon
  v1.28/ntnx-karbon/PRODUCT.yaml
  v1.28/ntnx-karbon/README.md
  v1.28/ntnx-karbon/e2e.log
  v1.28/ntnx-karbon/junit_01.xml
Labels: not-verifiable, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3030 Conformance results for v1.28/plusserver-pske
  v1.28/plusserver-pske/PRODUCT.yaml
  v1.28/plusserver-pske/README.md
  v1.28/plusserver-pske/e2e.log
  v1.28/plusserver-pske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3031 Conformance results for v1.29/k0s
  v1.29/k0s/PRODUCT.yaml
  v1.29/k0s/README.md
  v1.29/k0s/e2e.log
  v1.29/k0s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3032 Conformance results for v1.28/nks
  v1.28/nks/PRODUCT.yaml
  v1.28/nks/README.md
  v1.28/nks/e2e.log
  v1.28/nks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3035 Update conformance results for v1.28/iks
  v1.28/iks/PRODUCT.yaml
  v1.28/iks/README.md
  v1.28/iks/e2e.log
  v1.28/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3036 Update conformance results for v1.27/iks
  v1.27/iks/PRODUCT.yaml
  v1.27/iks/README.md
  v1.27/iks/e2e.log
  v1.27/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#3038 Conformance results for v1.29/ericsson-ccd
  v1.29/ericsson-ccd/PRODUCT.yaml
  v1.29/ericsson-ccd/README.md
  v1.29/ericsson-ccd/e2e.log
  v1.29/ericsson-ccd/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3037 Update conformance results for v1.27/ibm-openshift
  v1.27/ibm-openshift/PRODUCT.yaml
  v1.27/ibm-openshift/README.md
  v1.27/ibm-openshift/e2e.log
  v1.27/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#3046 Conformance results for v1.28/openshift
  v1.28/openshift/PRODUCT.yaml
  v1.28/openshift/README.md
  v1.28/openshift/e2e.log
  v1.28/openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3044 Conformance results for v1.29/iks
  v1.29/iks/PRODUCT.yaml
  v1.29/iks/README.md
  v1.29/iks/e2e.log
  v1.29/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3047 Conformance results for v1.29/openshift
  v1.29/openshift/PRODUCT.yaml
  v1.29/openshift/README.md
  v1.29/openshift/e2e.log
  v1.29/openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3048 Conformance results for v1.28/elastisys-compliant-kubernetes
  v1.28/elastisys-compliant-kubernetes/PRODUCT.yaml
  v1.28/elastisys-compliant-kubernetes/README.md
  v1.28/elastisys-compliant-kubernetes/e2e.log
  v1.28/elastisys-compliant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3051 Update conformance results for v1.27/magellano
  v1.27/magellano/PRODUCT.yaml
  v1.27/magellano/README.md
  v1.27/magellano/e2e.log
  v1.27/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#3055 Conformance Results for v1.29/rafay
  v1.29/rafay/PRODUCT.yaml
  v1.29/rafay/README.md
  v1.29/rafay/e2e.log
  v1.29/rafay/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3045 Conformance results for v1.29/kbsys_Bizmicro_Portal_New
  v1.29/kbsys_Bizmicro_Portal_New/PRODUCT.yaml
  v1.29/kbsys_Bizmicro_Portal_New/README.md
  v1.29/kbsys_Bizmicro_Portal_New/e2e.log
  v1.29/kbsys_Bizmicro_Portal_New/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3052 Conformance results for v1.27/gcore
  v1.27/gcore/PRODUCT.yaml
  v1.27/gcore/README.md
  v1.27/gcore/e2e.log
  v1.27/gcore/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#3053 Conformance results for v1.28/gcore
  v1.28/gcore/PRODUCT.yaml
  v1.28/gcore/README.md
  v1.28/gcore/e2e.log
  v1.28/gcore/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3070 Conformance results for v1.29/BizKube
  v1.29/BizKube/PRODUCT.yaml
  v1.29/BizKube/README.md
  v1.29/BizKube/e2e.log
  v1.29/BizKube/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29
