Repository cncf/k8s-conformance, pull requests merged in 2024-10, with the labels that each got.

#3410 Conformance result for v1.31/CeaKE
  v1.31/ceake/PRODUCT.yaml
  v1.31/ceake/README.md
  v1.31/ceake/e2e.log
  v1.31/ceake/junit_01.xml
Labels: unable-to-process, not-conformance-product-submission

#3411 Conformance results for v1.31/talos
  v1.31/talos/PRODUCT.yaml
  v1.31/talos/README.md
  v1.31/talos/e2e.log
  v1.31/talos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3414 Update conformance results for v1.29/iks
  v1.29/iks/PRODUCT.yaml
  v1.29/iks/README.md
  v1.29/iks/e2e.log
  v1.29/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3412 Update conformance results for v1.31/iks
  v1.31/iks/PRODUCT.yaml
  v1.31/iks/README.md
  v1.31/iks/e2e.log
  v1.31/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3415 Update conformance results for v1.29/ibm-openshift
  v1.29/ibm-openshift/PRODUCT.yaml
  v1.29/ibm-openshift/README.md
  v1.29/ibm-openshift/e2e.log
  v1.29/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3416 Conformance results for v1.31/vmware-vsphere-kubernetes-service
  v1.31/vmware-vsphere-kubernetes-service/PRODUCT.yaml
  v1.31/vmware-vsphere-kubernetes-service/README.md
  v1.31/vmware-vsphere-kubernetes-service/e2e.log
  v1.31/vmware-vsphere-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3417 Conformance results for v1.30/huawei-cce
  v1.30/huawei-cce/PRODUCT.yaml
  v1.30/huawei-cce/README.md
  v1.30/huawei-cce/e2e.log
  v1.30/huawei-cce/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3418 conformance results for v1.29/aruba
  v1.29/aruba/PRODUCT.yaml
  v1.29/aruba/README.md
  v1.29/aruba/e2e.log
  v1.29/aruba/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3419 Conformance results for v1.31/ericsson-ccd
  v1.31/ericsson-ccd/PRODUCT.yaml
  v1.31/ericsson-ccd/README.md
  v1.31/ericsson-ccd/e2e.log
  v1.31/ericsson-ccd/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3420 conformance results for v1.29/digitalocean
  v1.29/digitalocean/PRODUCT.yaml
  v1.29/digitalocean/README.md
  v1.29/digitalocean/e2e.log
  v1.29/digitalocean/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3421 conformance results for v1.31/digitalocean
  v1.31/digitalocean/PRODUCT.yaml
  v1.31/digitalocean/README.md
  v1.31/digitalocean/e2e.log
  v1.31/digitalocean/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3423 Conformance results for v1.30/civo
  v1.30/civo/PRODUCT.yaml
  v1.30/civo/README.md
  v1.30/civo/e2e.log
  v1.30/civo/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3424 Conformance results for v1.31/DeckhouseInstaller
  v1.31/dhctl/PRODUCT.yaml
  v1.31/dhctl/README.md
  v1.31/dhctl/e2e.log
  v1.31/dhctl/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3425 Conformance results for v1.31/Deckhouse
  v1.31/deckhouse/PRODUCT.yaml
  v1.31/deckhouse/README.md
  v1.31/deckhouse/e2e.log
  v1.31/deckhouse/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3426 Conformance results for v1.30/ardc
  v1.30/ardc/PRODUCT.yaml
  v1.30/ardc/README.md
  v1.30/ardc/e2e.log
  v1.30/ardc/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3428 Conformance results for v1.30/cke
  v1.30/cke/PRODUCT.yaml
  v1.30/cke/README.md
  v1.30/cke/e2e.log
  v1.30/cke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3432 Conformance Results for Volcengine-VKE Kubernetes v1.30
  v1.30/volcengine-vke/PRODUCT.yaml
  v1.30/volcengine-vke/README.md
  v1.30/volcengine-vke/e2e.log
  v1.30/volcengine-vke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3433 Conformance Results for v1.31/openshift
  v1.31/openshift/PRODUCT.yaml
  v1.31/openshift/README.md
  v1.31/openshift/e2e.log
  v1.31/openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3434 Conformance results for v1.30/konvoy
  v1.30/konvoy/PRODUCT.yaml
  v1.30/konvoy/README.md
  v1.30/konvoy/e2e.log
  v1.30/konvoy/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3375 Documentation link update
  v1.29/konvoy/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3437 Update STACKIT email address
  v1.25/stackit-kubernetes-engine/PRODUCT.yaml
  v1.26/stackit-kubernetes-engine/PRODUCT.yaml
  v1.27/stackit-kubernetes-engine/PRODUCT.yaml
  v1.28/stackit-kubernetes-engine/PRODUCT.yaml
  v1.29/stackit-kubernetes-engine/PRODUCT.yaml
  v1.30/stackit-kubernetes-engine/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3438 Conformance results for v1.29/taikun-tks
  v1.29/taikun (TKS)/PRODUCT.yaml
  v1.29/taikun (TKS)/README.md
  v1.29/taikun (TKS)/e2e.log
  v1.29/taikun (TKS)/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3442 Conformance results for v1.30/taikun-tks
  v1.30/taikun (TKS)/PRODUCT.yaml
  v1.30/taikun (TKS)/README.md
  v1.30/taikun (TKS)/e2e.log
  v1.30/taikun (TKS)/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3440 Conformance results for v1.29/taikun-cloudworks
  v1.29/Taikun CloudWorks/PRODUCT.yaml
  v1.29/Taikun CloudWorks/README.md
  v1.29/Taikun CloudWorks/e2e.log
  v1.29/Taikun CloudWorks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3441 Conformance results for v1.30/taikun-cloudworks
  v1.30/Taikun CloudWorks/PRODUCT.yaml
  v1.30/Taikun CloudWorks/README.md
  v1.30/Taikun CloudWorks/e2e.log
  v1.30/Taikun CloudWorks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3443 Conformance results for v1.31/rancher
  v1.31/rancher/PRODUCT.yaml
  v1.31/rancher/README.md
  v1.31/rancher/e2e.log
  v1.31/rancher/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3444 Conformance results for v1.31/rke
  v1.31/rke/PRODUCT.yaml
  v1.31/rke/README.md
  v1.31/rke/e2e.log
  v1.31/rke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3445 Conformance results for v1.30/AKS
  v1.30/aks/PRODUCT.yaml
  v1.30/aks/README.md
  v1.30/aks/e2e.log
  v1.30/aks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3446 Conformance results for v1.31/AKS
  v1.31/aks/PRODUCT.yaml
  v1.31/aks/README.md
  v1.31/aks/e2e.log
  v1.31/aks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3447 Conformance results for v1.30/Cloudboostr
  v1.30/cloudboostr/PRODUCT.yaml
  v1.30/cloudboostr/README.md
  v1.30/cloudboostr/e2e.log
  v1.30/cloudboostr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3448 Conformance results for v1.30/rh-device-edge
  v1.30/rh-device-edge/PRODUCT.yaml
  v1.30/rh-device-edge/README.md
  v1.30/rh-device-edge/e2e.log
  v1.30/rh-device-edge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3449 Conformance results for v1.30/pmcp
  v1.30/pmcp/PRODUCT.yaml
  v1.30/pmcp/README.md
  v1.30/pmcp/e2e.log
  v1.30/pmcp/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3450 Conformance results for v1.30/switch
  v1.30/switch/PRODUCT.yaml
  v1.30/switch/README.md
  v1.30/switch/e2e.log
  v1.30/switch/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3451 Conformance results for v1.31/switch
  v1.31/switch/PRODUCT.yaml
  v1.31/switch/README.md
  v1.31/switch/e2e.log
  v1.31/switch/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31
