Repository cncf/k8s-conformance, pull requests merged in 2024-01, with the labels that each got.

#2947 Conformance test results for v1.29/bocloud
  v1.29/bocloud/PRODUCT.yaml
  v1.29/bocloud/README.md
  v1.29/bocloud/e2e.log
  v1.29/bocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2944 Conformance results for v1.27/stackit-kubernetes-engine
  v1.27/stackit-kubernetes-engine/PRODUCT.yaml
  v1.27/stackit-kubernetes-engine/README.md
  v1.27/stackit-kubernetes-engine/e2e.log
  v1.27/stackit-kubernetes-engine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2948 Conformance results for v1.28/tenxcloud
  v1.28/tenxcloud/PRODUCT.yaml
  v1.28/tenxcloud/README.md
  v1.28/tenxcloud/e2e.log
  v1.28/tenxcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2949 Conformance results for v1.27/magellano
  v1.27/magellano/PRODUCT.yaml
  v1.27/magellano/README.md
  v1.27/magellano/e2e.log
  v1.27/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2950 Conformance results for v1.29/KubeKey
  v1.29/kubekey/PRODUCT.yaml
  v1.29/kubekey/README.md
  v1.29/kubekey/e2e.log
  v1.29/kubekey/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2951 Conformance results for v1.28/baiducloud
  v1.28/baiducloud/PRODUCT.yaml
  v1.28/baiducloud/README.md
  v1.28/baiducloud/e2e.log
  v1.28/baiducloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2952 Conformance results for v1.29/KubeSphere
  v1.29/KubeSphere/PRODUCT.yaml
  v1.29/KubeSphere/README.md
  v1.29/KubeSphere/e2e.log
  v1.29/KubeSphere/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2953 Conformance results for v1.28/aks
  v1.28/aks/PRODUCT.yaml
  v1.28/aks/README.md
  v1.28/aks/e2e.log
  v1.28/aks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2956 Conformance result for v1.27/accordion
  v1.27/accordion/PRODUCT.yaml
  v1.27/accordion/README.md
  v1.27/accordion/e2e.log
  v1.27/accordion/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2957 Conformance test results for v1.29/k3s
  v1.29/k3s/PRODUCT.yaml
  v1.29/k3s/README.md
  v1.29/k3s/e2e.log
  v1.29/k3s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2958 Conformance test results for v1.29/rke-government
  v1.29/rke-government/PRODUCT.yaml
  v1.29/rke-government/README.md
  v1.29/rke-government/e2e.log
  v1.29/rke-government/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2959 Conformance results for v1.29/typhoon
  v1.29/typhoon/PRODUCT.yaml
  v1.29/typhoon/README.md
  v1.29/typhoon/e2e.log
  v1.29/typhoon/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2960 Conformance results for v1.28/JDOS
  v1.28/JDOS/PRODUCT.yaml
  v1.28/JDOS/README.md
  v1.28/JDOS/e2e.log
  v1.28/JDOS/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2961 Conformance results for v1.28/jdcloud
  v1.28/jdcloud/PRODUCT.yaml
  v1.28/jdcloud/README.md
  v1.28/jdcloud/e2e.log
  v1.28/jdcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2962 Conformance results for v1.28/TencentCloud
  v1.28/tencentcloud/PRODUCT.yaml
  v1.28/tencentcloud/README.md
  v1.28/tencentcloud/e2e.log
  v1.28/tencentcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2963 Conformance results for v1.27/catalyst-cloud
  v1.27/catalyst-cloud/PRODUCT.yaml
  v1.27/catalyst-cloud/README.md
  v1.27/catalyst-cloud/e2e.log
  v1.27/catalyst-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2964 Conformance results for v1.29/kubeasz
  v1.29/kubeasz/PRODUCT.yaml
  v1.29/kubeasz/README.md
  v1.29/kubeasz/e2e.log
  v1.29/kubeasz/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2965 Conformance results for v1.29/replicated
  v1.29/replicated/PRODUCT.yaml
  v1.29/replicated/README.md
  v1.29/replicated/e2e.log
  v1.29/replicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2968 Conformance results for v1.29/navimentum
  v1.29/navimentum/PRODUCT.yaml
  v1.29/navimentum/README.md
  v1.29/navimentum/e2e.log
  v1.29/navimentum/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2969 Conformance results for v1.27/ardc
  v1.27/ardc/PRODUCT.yaml
  v1.27/ardc/README.md
  v1.27/ardc/e2e.log
  v1.27/ardc/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2970 Conformance result for v1.27/CeaKE
  v1.27/ceake/PRODUCT.yaml
  v1.27/ceake/README.md
  v1.27/ceake/e2e.log
  v1.27/ceake/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2972 Conformance results for v1.27/qbo-ce
  v1.27/qbo-ce/PRODUCT.yaml
  v1.27/qbo-ce/README.md
  v1.27/qbo-ce/e2e.log
  v1.27/qbo-ce/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2977 Conformance results for v1.27/OCNE
  v1.27/ocne/PRODUCT.yaml
  v1.27/ocne/README.md
  v1.27/ocne/e2e.log
  v1.27/ocne/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2978 Conformance results for v1.28/OCNE
  v1.28/ocne/PRODUCT.yaml
  v1.28/ocne/README.md
  v1.28/ocne/e2e.log
  v1.28/ocne/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2981 Conformance results for v1.29/Harmonycloud
  v1.29/harmonycloud/PRODUCT.yaml
  v1.29/harmonycloud/README.md
  v1.29/harmonycloud/e2e.log
  v1.29/harmonycloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2982 Conformance results for v1.29/Harmonycloud-Installer
  v1.29/harmonycloud-installer/PRODUCT.yaml
  v1.29/harmonycloud-installer/README.md
  v1.29/harmonycloud-installer/e2e.log
  v1.29/harmonycloud-installer/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2985 Conformance results for v1.27/wke
  v1.27/wke/PRODUCT.yaml
  v1.27/wke/README.md
  v1.27/wke/e2e.log
  v1.27/wke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2983 CNCF conformance results for k8s v1.27/ntnx-karbon
  v1.27/ntnx-karbon/PRODUCT.yaml
  v1.27/ntnx-karbon/README.md
  v1.27/ntnx-karbon/e2e.log
  v1.27/ntnx-karbon/junit_01.xml
Labels: not-verifiable, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2984 Conformance results for v1.29/robin.io
  v1.29/robin.io/PRODUCT.yaml
  v1.29/robin.io/README.md
  v1.29/robin.io/e2e.log
  v1.29/robin.io/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2987 Conformance results for v1.27/Cloudboostr
  v1.27/cloudboostr/PRODUCT.yaml
  v1.27/cloudboostr/README.md
  v1.27/cloudboostr/e2e.log
  v1.27/cloudboostr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2988 Conformance results for v1.27/whitemist
  v1.27/whitemist/PRODUCT.yaml
  v1.27/whitemist/README.md
  v1.27/whitemist/e2e.log
  v1.27/whitemist/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2989 Conformance results for v1.29/gke
  v1.29/gke/PRODUCT.yaml
  v1.29/gke/README.md
  v1.29/gke/e2e.log
  v1.29/gke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2990 Conformance results for v1.27/kOps
  v1.27/kops/PRODUCT.yaml
  v1.27/kops/README.md
  v1.27/kops/e2e.log
  v1.27/kops/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2991 Conformance results for v1.28/kOps
  v1.28/kops/PRODUCT.yaml
  v1.28/kops/README.md
  v1.28/kops/e2e.log
  v1.28/kops/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2992 Add Huawei Cloud CCE v1.28 conformance test result
  v1.28/huawei-cce/PRODUCT.yaml
  v1.28/huawei-cce/README.md
  v1.28/huawei-cce/e2e.log
  v1.28/huawei-cce/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2996 Conformance result for v1.29/elastx
  v1.29/elastx/PRODUCT.yaml
  v1.29/elastx/README.md
  v1.29/elastx/e2e.log
  v1.29/elastx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#2998 Conformance Results for v1.27/intel-kubernetes-service
  v1.27/intel-kubernetes-service/PRODUCT.yaml
  v1.27/intel-kubernetes-service/README.md
  v1.27/intel-kubernetes-service/e2e.log
  v1.27/intel-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#2999 Conformance results for v1.28/intel-kubernetes-service
  v1.28/intel-kubernetes-service/PRODUCT.yaml
  v1.28/intel-kubernetes-service/README.md
  v1.28/intel-kubernetes-service/e2e.log
  v1.28/intel-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#2994 Conformance results for v1.27/ionos-cloud
  v1.27/ionos-cloud/PRODUCT.yaml
  v1.27/ionos-cloud/README.md
  v1.27/ionos-cloud/e2e.log
  v1.27/ionos-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#3021 Conformance results for v1.29/vke
  v1.29/vke/PRODUCT.yaml
  v1.29/vke/README.md
  v1.29/vke/e2e.log
  v1.29/vke/junit_01.xml
Labels: not-verifiable, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29
