Repository cncf/k8s-conformance, pull requests merged in 2024-11, with the labels that each got.

#3452 Conformance results for v1.31/ardc
  v1.31/ardc/PRODUCT.yaml
  v1.31/ardc/README.md
  v1.31/ardc/e2e.log
  v1.31/ardc/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3453 Conformance results for v1.31/k0s
  v1.31/k0s/PRODUCT.yaml
  v1.31/k0s/README.md
  v1.31/k0s/e2e.log
  v1.31/k0s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3454 Update conformance results for v1.29/ibm-openshift
  v1.29/ibm-openshift/PRODUCT.yaml
  v1.29/ibm-openshift/README.md
  v1.29/ibm-openshift/e2e.log
  v1.29/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3456 Conformance results for v1.30/metalstackcloud
  v1.30/metalstackcloud/PRODUCT.yaml
  v1.30/metalstackcloud/README.md
  v1.30/metalstackcloud/e2e.log
  v1.30/metalstackcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3457 Conformance results for v1.31/ocne
  v1.31/ocne/PRODUCT.yaml
  v1.31/ocne/README.md
  v1.31/ocne/e2e.log
  v1.31/ocne/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3459 Conformance results for v1.31/ionos-cloud
  v1.31/ionos-cloud/PRODUCT.yaml
  v1.31/ionos-cloud/README.md
  v1.31/ionos-cloud/e2e.log
  v1.31/ionos-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3460 Conformance results for v1.30/nks
  v1.30/nks/PRODUCT.yaml
  v1.30/nks/README.md
  v1.30/nks/e2e.log
  v1.30/nks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3436 Conformance results for v1.31/wiit-wks
  v1.31/wiit-wks/PRODUCT.yaml
  v1.31/wiit-wks/README.md
  v1.31/wiit-wks/e2e.log
  v1.31/wiit-wks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3462 Conformance results for v1.30/fuga-cloud
  v1.30/fuga-cloud/PRODUCT.yaml
  v1.30/fuga-cloud/README.md
  v1.30/fuga-cloud/e2e.log
  v1.30/fuga-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3481 Update conformance results for v1.29/ibm-openshift
  v1.29/ibm-openshift/PRODUCT.yaml
  v1.29/ibm-openshift/README.md
  v1.29/ibm-openshift/e2e.log
  v1.29/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3479 Update conformance results for v1.30/iks
  v1.30/iks/PRODUCT.yaml
  v1.30/iks/README.md
  v1.30/iks/e2e.log
  v1.30/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3463 Conformance results for v1.30/spectrocloud
  v1.30/spectrocloud/PRODUCT.yaml
  v1.30/spectrocloud/README.md
  v1.30/spectrocloud/e2e.log
  v1.30/spectrocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3464 Conformance results for v1.29/aks-engine-azurestack
  v1.29/aks-engine-azurestack/PRODUCT.yaml
  v1.29/aks-engine-azurestack/README.md
  v1.29/aks-engine-azurestack/e2e.log
  v1.29/aks-engine-azurestack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3480 Update conformance results for v1.29/iks
  v1.29/iks/PRODUCT.yaml
  v1.29/iks/README.md
  v1.29/iks/e2e.log
  v1.29/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3484 Conformance results for v1.30/accordion
  v1.30/accordion/PRODUCT.yaml
  v1.30/accordion/README.md
  v1.30/accordion/e2e.log
  v1.30/accordion/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3485 Conformance results for v1.30/elastisys-compliant-kubernetes
  v1.30/elastisys-compliant-kubernetes/PRODUCT.yaml
  v1.30/elastisys-compliant-kubernetes/README.md
  v1.30/elastisys-compliant-kubernetes/e2e.log
  v1.30/elastisys-compliant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3487 Conformance results for v1.30/ibm-openshift
  v1.30/ibm-openshift/PRODUCT.yaml
  v1.30/ibm-openshift/README.md
  v1.30/ibm-openshift/e2e.log
  v1.30/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3489 Conformance results for v1.29/denovo-kaas
  v1.29/denovo-kaas/PRODUCT.yaml
  v1.29/denovo-kaas/README.md
  v1.29/denovo-kaas/e2e.log
  v1.29/denovo-kaas/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3477 Conformance results for v1.31/kubeasz
  v1.31/kubeasz/PRODUCT.yaml
  v1.31/kubeasz/README.md
  v1.31/kubeasz/e2e.log
  v1.31/kubeasz/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31
