Repository cncf/k8s-conformance, pull requests merged in 2024-04, with the labels that each got.

#3094 Conformance results for v1.28/openshift-dedicated
  v1.28/openshift-dedicated/PRODUCT.yaml
  v1.28/openshift-dedicated/README.md
  v1.28/openshift-dedicated/e2e.log
  v1.28/openshift-dedicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3095 Conformance results for v1.28/tkgi
  v1.28/tkgi/PRODUCT.yaml
  v1.28/tkgi/README.md
  v1.28/tkgi/e2e.log
  v1.28/tkgi/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3096 Conformance results for v1.28/fury-distribution
  v1.28/fury-distribution/PRODUCT.yaml
  v1.28/fury-distribution/README.md
  v1.28/fury-distribution/e2e.log
  v1.28/fury-distribution/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3097 Conformance results for v1.29/kubermatic
  v1.29/kubermatic/PRODUCT.yaml
  v1.29/kubermatic/README.md
  v1.29/kubermatic/e2e.log
  v1.29/kubermatic/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3098 Conformance results for v1.28/Cloudboostr
  v1.28/cloudboostr/PRODUCT.yaml
  v1.28/cloudboostr/README.md
  v1.28/cloudboostr/e2e.log
  v1.28/cloudboostr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3085 Conformance results for v1.28/nkd
  v1.28/nkd/PRODUCT.yaml
  v1.28/nkd/README.md
  v1.28/nkd/e2e.log
  v1.28/nkd/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3104 Conformance results for v1.27/Coredge
  v1.27/Coredge/PRODUCT.yaml
  v1.27/Coredge/README.md
  v1.27/Coredge/e2e.log
  v1.27/Coredge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#3105 Conformance results for v1.28/Coredge
  v1.28/Coredge/PRODUCT.yaml
  v1.28/Coredge/README.md
  v1.28/Coredge/e2e.log
  v1.28/Coredge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3106 Conformance results for v1.29/Coredge
  v1.29/Coredge/PRODUCT.yaml
  v1.29/Coredge/README.md
  v1.29/Coredge/e2e.log
  v1.29/Coredge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3107 Conformance results for v1.29/gcore
  v1.29/gcore/PRODUCT.yaml
  v1.29/gcore/README.md
  v1.29/gcore/e2e.log
  v1.29/gcore/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3108 Conformance results for v1.28/cke
  v1.28/cke/PRODUCT.yaml
  v1.28/cke/README.md
  v1.28/cke/e2e.log
  v1.28/cke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3109 Update Conformance Results for v1.27/alvistack-ansible-collection-kubernetes
  v1.27/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.27/alvistack-ansible-collection-kubernetes/README.md
  v1.27/alvistack-ansible-collection-kubernetes/e2e.log
  v1.27/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#3110 Update Conformance Results for v1.28/alvistack-ansible-collection-kubernetes
  v1.28/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.28/alvistack-ansible-collection-kubernetes/README.md
  v1.28/alvistack-ansible-collection-kubernetes/e2e.log
  v1.28/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3111 Update Conformance Results for v1.29/alvistack-ansible-collection-kubernetes
  v1.29/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.29/alvistack-ansible-collection-kubernetes/README.md
  v1.29/alvistack-ansible-collection-kubernetes/e2e.log
  v1.29/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3113 Update Conformance Results for v1.27/alvistack-vagrant-kubernetes
  v1.27/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.27/alvistack-vagrant-kubernetes/README.md
  v1.27/alvistack-vagrant-kubernetes/e2e.log
  v1.27/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, release-v1.27, no-failed-tests-v1.27, tests-verified-v1.27

#3114 Update Conformance Results for v1.28/alvistack-vagrant-kubernetes
  v1.28/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.28/alvistack-vagrant-kubernetes/README.md
  v1.28/alvistack-vagrant-kubernetes/e2e.log
  v1.28/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3115 Update Conformance Results for v1.29/alvistack-vagrant-kubernetes
  v1.29/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.29/alvistack-vagrant-kubernetes/README.md
  v1.29/alvistack-vagrant-kubernetes/e2e.log
  v1.29/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3117 Conformance results for v1.28/catalyst-cloud
  v1.28/catalyst-cloud/PRODUCT.yaml
  v1.28/catalyst-cloud/README.md
  v1.28/catalyst-cloud/e2e.log
  v1.28/catalyst-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3126 Fix Conformance test suite documentation for v1.30.0
  docs/KubeConformance-1.30.md
Labels: docs

#3119 Conformance Results for v1.28/magellano
  v1.28/magellano/PRODUCT.yaml
  v1.28/magellano/README.md
  v1.28/magellano/e2e.log
  v1.28/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3120 Update Conformance Results for v1.28/alvistack-ansible-collection-kubernetes
  v1.28/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.28/alvistack-ansible-collection-kubernetes/README.md
  v1.28/alvistack-ansible-collection-kubernetes/e2e.log
  v1.28/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3121 Update Conformance Results for v1.29/alvistack-ansible-collection-kubernetes
  v1.29/alvistack-ansible-collection-kubernetes/PRODUCT.yaml
  v1.29/alvistack-ansible-collection-kubernetes/README.md
  v1.29/alvistack-ansible-collection-kubernetes/e2e.log
  v1.29/alvistack-ansible-collection-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3122 Update Conformance Results for v1.29/alvistack-vagrant-kubernetes
  v1.29/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.29/alvistack-vagrant-kubernetes/README.md
  v1.29/alvistack-vagrant-kubernetes/e2e.log
  v1.29/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3123 Update Conformance Results for v1.28/alvistack-vagrant-kubernetes
  v1.28/alvistack-vagrant-kubernetes/PRODUCT.yaml
  v1.28/alvistack-vagrant-kubernetes/README.md
  v1.28/alvistack-vagrant-kubernetes/e2e.log
  v1.28/alvistack-vagrant-kubernetes/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3124 Conformance results for v1.29/fury-distribution
  v1.29/fury-distribution/PRODUCT.yaml
  v1.29/fury-distribution/README.md
  v1.29/fury-distribution/e2e.log
  v1.29/fury-distribution/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3127 Conformance results for v1.28/ibm-openshift
  v1.28/ibm-openshift/PRODUCT.yaml
  v1.28/ibm-openshift/README.md
  v1.28/ibm-openshift/e2e.log
  v1.28/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3129 Update conformance results for v1.28/iks
  v1.28/iks/PRODUCT.yaml
  v1.28/iks/README.md
  v1.28/iks/e2e.log
  v1.28/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3128 Update conformance results for v1.29/iks
  v1.29/iks/PRODUCT.yaml
  v1.29/iks/README.md
  v1.29/iks/e2e.log
  v1.29/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3130 Conformance results for v1.29/nks
  v1.29/nks/PRODUCT.yaml
  v1.29/nks/README.md
  v1.29/nks/e2e.log
  v1.29/nks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3131 Conformance results for v1.28/K-PaaS-Container-Platform
  v1.28/K-PaaS-Container-Platform/PRODUCT.yaml
  v1.28/K-PaaS-Container-Platform/README.md
  v1.28/K-PaaS-Container-Platform/e2e.log
  v1.28/K-PaaS-Container-Platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3132 Conformance results for v1.28/smartx-sks
  v1.28/smartx-sks/PRODUCT.yaml
  v1.28/smartx-sks/README.md
  v1.28/smartx-sks/e2e.log
  v1.28/smartx-sks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3133 Conformance results for v1.28/American-Cloud
  v1.28/American-Cloud/PRODUCT.yaml
  v1.28/American-Cloud/README.md
  v1.28/American-Cloud/e2e.log
  v1.28/American-Cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3134 Conformance results for v1.28/metalstackcloud
  v1.28/metalstackcloud/PRODUCT.yaml
  v1.28/metalstackcloud/README.md
  v1.28/metalstackcloud/e2e.log
  v1.28/metalstackcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3135 Conformance results for v1.28/minikube
  v1.28/minikube/PRODUCT.yaml
  v1.28/minikube/README.md
  v1.28/minikube/e2e.log
  v1.28/minikube/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3137 Conformance results for v1.28/starlingx
  v1.28/starlingx/PRODUCT.yaml
  v1.28/starlingx/README.md
  v1.28/starlingx/e2e.log
  v1.28/starlingx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3141 Conformance results for v1.28/kubeops
  v1.28/kubeops/PRODUCT.yaml
  v1.28/kubeops/README.md
  v1.28/kubeops/e2e.log
  v1.28/kubeops/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28
