Repository cncf/k8s-conformance, pull requests merged in 2024-12, with the labels that each got.

#3492 conformance results for v1.30/denovo-kaas
  v1.30/denovo-kaas/PRODUCT.yaml
  v1.30/denovo-kaas/README.md
  v1.30/denovo-kaas/e2e.log
  v1.30/denovo-kaas/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3494 Conformance results for v1.31/oke
  v1.31/oke/PRODUCT.yaml
  v1.31/oke/README.md
  v1.31/oke/e2e.log
  v1.31/oke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3495 Conformance results for v1.31/catalyst-cloud
  v1.31/catalyst-cloud/PRODUCT.yaml
  v1.31/catalyst-cloud/README.md
  v1.31/catalyst-cloud/e2e.log
  v1.31/catalyst-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3476 Conformance results for v1.29/izo-cloud-kubernetes-service
  v1.29/izo-cloud-kubernetes-service/PRODUCT.yaml
  v1.29/izo-cloud-kubernetes-service/README.md
  v1.29/izo-cloud-kubernetes-service/e2e.log
  v1.29/izo-cloud-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3496 Conformance results for v1.31/scaleway
  v1.31/scaleway/PRODUCT.yaml
  v1.31/scaleway/README.md
  v1.31/scaleway/e2e.log
  v1.31/scaleway/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3497 Conformance results for v1.30/fury-distribution
  v1.30/fury-distribution/PRODUCT.yaml
  v1.30/fury-distribution/README.md
  v1.30/fury-distribution/e2e.log
  v1.30/fury-distribution/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3498 Conformance results for v1.31/KubeKey
  v1.31/kubekey/PRODUCT.yaml
  v1.31/kubekey/README.md
  v1.31/kubekey/e2e.log
  v1.31/kubekey/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3499 Conformance results for v1.31/KubeSphere
  v1.31/KubeSphere/PRODUCT.yaml
  v1.31/KubeSphere/README.md
  v1.31/KubeSphere/e2e.log
  v1.31/KubeSphere/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3500 Conformance results for v1.31/stackit-kubernetes-engine
  v1.31/stackit-kubernetes-engine/PRODUCT.yaml
  v1.31/stackit-kubernetes-engine/README.md
  v1.31/stackit-kubernetes-engine/e2e.log
  v1.31/stackit-kubernetes-engine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3501 Conformance results for v1.31/QingCloud Kubernetes Engine (QKE)
  v1.31/QKE/PRODUCT.yaml
  v1.31/QKE/README.md
  v1.31/QKE/e2e.log
  v1.31/QKE/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3502 Conformance results for v1.30/windrivercloud
  v1.30/windrivercloud/PRODUCT.yaml
  v1.30/windrivercloud/README.md
  v1.30/windrivercloud/e2e.log
  v1.30/windrivercloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3503 Conformance results for v1.30/denovo-hci
  v1.30/denovo-hci/PRODUCT.yaml
  v1.30/denovo-hci/README.md
  v1.30/denovo-hci/e2e.log
  v1.30/denovo-hci/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3504 Conformance results for v1.30/starlingx
  v1.30/starlingx/PRODUCT.yaml
  v1.30/starlingx/README.md
  v1.30/starlingx/e2e.log
  v1.30/starlingx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3505 Conformance results for v1.30/ske
  v1.30/ske/PRODUCT.yaml
  v1.30/ske/README.md
  v1.30/ske/e2e.log
  v1.30/ske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3507 Update conformance results for v1.30/iks
  v1.30/iks/PRODUCT.yaml
  v1.30/iks/README.md
  v1.30/iks/e2e.log
  v1.30/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3506 Update conformance results for v1.31/iks
  v1.31/iks/PRODUCT.yaml
  v1.31/iks/README.md
  v1.31/iks/e2e.log
  v1.31/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3508 Update conformance results for v1.30/ibm-openshift
  v1.30/ibm-openshift/PRODUCT.yaml
  v1.30/ibm-openshift/README.md
  v1.30/ibm-openshift/e2e.log
  v1.30/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3509 Conformance results for v1.31/Kublr
  v1.31/kublr/PRODUCT.yaml
  v1.31/kublr/README.md
  v1.31/kublr/e2e.log
  v1.31/kublr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3510 Conformance results for v1.32/previder
  v1.32/previder/PRODUCT.yaml
  v1.32/previder/README.md
  v1.32/previder/e2e.log
  v1.32/previder/junit_01.xml
Labels: conformance-product-submission, unable-to-process

#3514 Conformance results for v1.30/viola
  v1.30/viola/PRODUCT.yaml
  v1.30/viola/README.md
  v1.30/viola/e2e.log
  v1.30/viola/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3515 Conformance results for v1.30/tks-cloud-service
  v1.30/tks-cloud-service/PRODUCT.yaml
  v1.30/tks-cloud-service/README.md
  v1.30/tks-cloud-service/e2e.log
  v1.30/tks-cloud-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3516 Conformance results for v1.30/K-PaaS-Container-Platform
  v1.30/K-PaaS-Container-Platform/PRODUCT.yaml
  v1.30/K-PaaS-Container-Platform/README.md
  v1.30/K-PaaS-Container-Platform/e2e.log
  v1.30/K-PaaS-Container-Platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3511 Conformance results for v1.31/pmcp
  v1.31/pmcp/PRODUCT.yaml
  v1.31/pmcp/README.md
  v1.31/pmcp/e2e.log
  v1.31/pmcp/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3512 Update stable.txt url
  docs/check-conformance-test-suite-docs.sh
Labels: unable-to-process, not-conformance-product-submission

#3518 bump verify-conformace bot to the latest version for 1.32
  .github/workflows/verify-conformance.yml
Labels: unable-to-process, not-conformance-product-submission
