Repository cncf/k8s-conformance, pull requests merged in 2024-06, with the labels that each got.

#3049 Add Kubernetes v1.29 conformance results for EKS Anywhere
  v1.29/eks-a/PRODUCT.yaml
  v1.29/eks-a/README.md
  v1.29/eks-a/e2e.log
  v1.29/eks-a/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3235 Update conformance results for v1.29/iks
  v1.29/iks/PRODUCT.yaml
  v1.29/iks/README.md
  v1.29/iks/e2e.log
  v1.29/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3236 Update conformance results for v1.28/iks
  v1.28/iks/PRODUCT.yaml
  v1.28/iks/README.md
  v1.28/iks/e2e.log
  v1.28/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3237 Update conformance results for v1.28/ibm-openshift
  v1.28/ibm-openshift/PRODUCT.yaml
  v1.28/ibm-openshift/README.md
  v1.28/ibm-openshift/e2e.log
  v1.28/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3238 Conformance results for v1.29/huawei-cce
  v1.29/huawei-cce/PRODUCT.yaml
  v1.29/huawei-cce/README.md
  v1.29/huawei-cce/e2e.log
  v1.29/huawei-cce/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3244 Conformance results for v1.30/eks
  v1.30/eks/PRODUCT.yaml
  v1.30/eks/README.md
  v1.30/eks/e2e.log
  v1.30/eks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3247 Conformance results for v1.28/spectrocloud
  v1.28/spectrocloud/PRODUCT.yaml
  v1.28/spectrocloud/README.md
  v1.28/spectrocloud/e2e.log
  v1.28/spectrocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3245 Conformance results for v1.29/spectrocloud
  v1.29/spectrocloud/PRODUCT.yaml
  v1.29/spectrocloud/README.md
  v1.29/spectrocloud/e2e.log
  v1.29/spectrocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3248 Conformance results for v1.30/replicated
  v1.30/replicated/PRODUCT.yaml
  v1.30/replicated/README.md
  v1.30/replicated/e2e.log
  v1.30/replicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3250 Update conformance results for v1.28/magellano
  v1.28/magellano/PRODUCT.yaml
  v1.28/magellano/README.md
  v1.28/magellano/e2e.log
  v1.28/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3246 Conformance results for v1.28/denovo-hci
  v1.28/denovo-hci/PRODUCT.yaml
  v1.28/denovo-hci/README.md
  v1.28/denovo-hci/e2e.log
  v1.28/denovo-hci/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3251 Conformance results for v1.30/gec-gks
  v1.30/gec-gks/PRODUCT.yaml
  v1.30/gec-gks/README.md
  v1.30/gec-gks/e2e.log
  v1.30/gec-gks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3252 Conformance results for v1.29/rancher
  v1.29/rancher/PRODUCT.yaml
  v1.29/rancher/README.md
  v1.29/rancher/e2e.log
  v1.29/rancher/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3253 Conformance results for v1.29/stackit-kubernetes-engine
  v1.29/stackit-kubernetes-engine/PRODUCT.yaml
  v1.29/stackit-kubernetes-engine/README.md
  v1.29/stackit-kubernetes-engine/e2e.log
  v1.29/stackit-kubernetes-engine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3254 Conformance results for v1.29/rke
  v1.29/rke/PRODUCT.yaml
  v1.29/rke/README.md
  v1.29/rke/e2e.log
  v1.29/rke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3255 Conformance results for v1.30/Deckhouse
  v1.30/deckhouse/PRODUCT.yaml
  v1.30/deckhouse/README.md
  v1.30/deckhouse/e2e.log
  v1.30/deckhouse/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3256 Conformance results for v1.30/DeckhouseInstaller
  v1.30/dhctl/PRODUCT.yaml
  v1.30/dhctl/README.md
  v1.30/dhctl/e2e.log
  v1.30/dhctl/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3257 Conformance results for v1.28/tks-cloud-service
  v1.28/tks-cloud-service/PRODUCT.yaml
  v1.28/tks-cloud-service/README.md
  v1.28/tks-cloud-service/e2e.log
  v1.28/tks-cloud-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3258 Conformance results for v1.28/tks-enterprise-solution
  v1.28/tks-enterprise-solution/PRODUCT.yaml
  v1.28/tks-enterprise-solution/README.md
  v1.28/tks-enterprise-solution/e2e.log
  v1.28/tks-enterprise-solution/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3260 Conformance results for v1.28/SECloudit
  v1.28/SECloudit/PRODUCT.yaml
  v1.28/SECloudit/README.md
  v1.28/SECloudit/e2e.log
  v1.28/SECloudit/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3259 Conformance results for v1.29/SECloudit
  v1.29/SECloudit/PRODUCT.yaml
  v1.29/SECloudit/README.md
  v1.29/SECloudit/e2e.log
  v1.29/SECloudit/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3261 Conformance results for v1.30/SECloudit
  v1.30/SECloudit/PRODUCT.yaml
  v1.30/SECloudit/README.md
  v1.30/SECloudit/e2e.log
  v1.30/SECloudit/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3262 Update conformance results for v1.30/iks
  v1.30/iks/PRODUCT.yaml
  v1.30/iks/README.md
  v1.30/iks/e2e.log
  v1.30/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3263 Update conformance results for v1.29/iks
  v1.29/iks/PRODUCT.yaml
  v1.29/iks/README.md
  v1.29/iks/e2e.log
  v1.29/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29

#3264 Update conformance results for v1.28/iks
  v1.28/iks/PRODUCT.yaml
  v1.28/iks/README.md
  v1.28/iks/e2e.log
  v1.28/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3265 Update conformance results for v1.28/ibm-openshift
  v1.28/ibm-openshift/PRODUCT.yaml
  v1.28/ibm-openshift/README.md
  v1.28/ibm-openshift/e2e.log
  v1.28/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.28, no-failed-tests-v1.28, release-v1.28

#3267 Conformance results for v1.29/switch
  v1.29/switch/PRODUCT.yaml
  v1.29/switch/README.md
  v1.29/switch/e2e.log
  v1.29/switch/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.29, release-v1.29, no-failed-tests-v1.29
