Repository cncf/k8s-conformance, pull requests merged in 2025-09, with the labels that each got.

#3838 Conformance results for v1.31/aks-engine-azurestack
  v1.31/aks-engine-azurestack/PRODUCT.yaml
  v1.31/aks-engine-azurestack/README.md
  v1.31/aks-engine-azurestack/e2e.log
  v1.31/aks-engine-azurestack/junit_01.xml
Labels: conformance-product-submission, unable-to-process

#3851 Conformance results for v1.32/ardc
  v1.32/ardc/PRODUCT.yaml
  v1.32/ardc/README.md
  v1.32/ardc/e2e.log
  v1.32/ardc/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3854 Conformance results for v1.32/ocne
  v1.32/ocne/PRODUCT.yaml
  v1.32/ocne/README.md
  v1.32/ocne/e2e.log
  v1.32/ocne/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3856 Conformance results for v1.33/scaleway
  v1.33/scaleway/PRODUCT.yaml
  v1.33/scaleway/README.md
  v1.33/scaleway/e2e.log
  v1.33/scaleway/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3857 Conformance results for v1.32/Civo
  v1.32/civo/PRODUCT.yaml
  v1.32/civo/README.md
  v1.32/civo/e2e.log
  v1.32/civo/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3858 Conformance results for v1.32/upcloud
  v1.32/upcloud/PRODUCT.yaml
  v1.32/upcloud/README.md
  v1.32/upcloud/e2e.log
  v1.32/upcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3859 Conformance results for v1.32/h3c
  v1.32/h3c-cloudos/PRODUCT.yaml
  v1.32/h3c-cloudos/README.md
  v1.32/h3c-cloudos/e2e.log
  v1.32/h3c-cloudos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3860 Conformance results for v1.34/talos
  v1.34/talos/PRODUCT.yaml
  v1.34/talos/README.md
  v1.34/talos/e2e.log
  v1.34/talos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.34, no-failed-tests-v1.34, release-v1.34

#3862 Conformance results for v1.34/bocloud
  v1.34/bocloud/PRODUCT.yaml
  v1.34/bocloud/README.md
  v1.34/bocloud/e2e.log
  v1.34/bocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.34, no-failed-tests-v1.34, release-v1.34

#3843 Conformance results for v1.31/AME
  v1.31/ame/PRODUCT.yaml
  v1.31/ame/README.md
  v1.31/ame/e2e.log
  v1.31/ame/junit_01.xml
Labels: conformance-product-submission, unable-to-process

#3844 Conformance results for v1.32/AME
  v1.32/ame/PRODUCT.yaml
  v1.32/ame/README.md
  v1.32/ame/e2e.log
  v1.32/ame/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3865 Conformance results for v1.33/ardc
  v1.33/ardc/PRODUCT.yaml
  v1.33/ardc/README.md
  v1.33/ardc/e2e.log
  v1.33/ardc/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3871 Conformance results for v1.34/cdk
  v1.34/cdk/PRODUCT.yaml
  v1.34/cdk/README.md
  v1.34/cdk/e2e.log
  v1.34/cdk/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.34, no-failed-tests-v1.34, release-v1.34

#3873 Conformance results for v1.32/accordion
  v1.32/accordion/PRODUCT.yaml
  v1.32/accordion/README.md
  v1.32/accordion/e2e.log
  v1.32/accordion/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3874 Conformance results for v1.32/ske
  v1.32/ske/PRODUCT.yaml
  v1.32/ske/README.md
  v1.32/ske/e2e.log
  v1.32/ske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3891 feat: Conformance results for v1.32/KubeSphere
  v1.32/KubeSphere/PRODUCT.yaml
  v1.32/KubeSphere/README.md
  v1.32/KubeSphere/e2e.log
  v1.32/KubeSphere/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3895 Conformance results for v1.34/kubeasz
  v1.34/kubeasz/PRODUCT.yaml
  v1.34/kubeasz/README.md
  v1.34/kubeasz/e2e.log
  v1.34/kubeasz/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.34, no-failed-tests-v1.34, release-v1.34

#3896 Conformance results for v1.32/baiducloud
  v1.32/baiducloud/PRODUCT.yaml
  v1.32/baiducloud/README.md
  v1.32/baiducloud/e2e.log
  v1.32/baiducloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3907 Conformance results for v1.32/Cloudboostr
  v1.32/cloudboostr/PRODUCT.yaml
  v1.32/cloudboostr/README.md
  v1.32/cloudboostr/e2e.log
  v1.32/cloudboostr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3908 Conformance results for v1.32/constellation
  v1.32/constellation/PRODUCT.yaml
  v1.32/constellation/README.md
  v1.32/constellation/e2e.log
  v1.32/constellation/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3911 Conformance results for v1.34/gke
  v1.34/gke/PRODUCT.yaml
  v1.34/gke/README.md
  v1.34/gke/e2e.log
  v1.34/gke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.34, no-failed-tests-v1.34, release-v1.34

#3912 Conformance results for v1.34/previder
  v1.34/previder/PRODUCT.yaml
  v1.34/previder/README.md
  v1.34/previder/e2e.log
  v1.34/previder/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.34, no-failed-tests-v1.34, release-v1.34

#3913 Conformance results for v1.33/acornsoft-cocktail
  v1.33/acornsoft-cocktail/PRODUCT.yaml
  v1.33/acornsoft-cocktail/README.md
  v1.33/acornsoft-cocktail/e2e.log
  v1.33/acornsoft-cocktail/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3914 Conformance results for v1.33/cks
  v1.33/cks/PRODUCT.yaml
  v1.33/cks/README.md
  v1.33/cks/e2e.log
  v1.33/cks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3915 Conformance results for v1.34/cks
  v1.34/cks/PRODUCT.yaml
  v1.34/cks/README.md
  v1.34/cks/e2e.log
  v1.34/cks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.34, no-failed-tests-v1.34, release-v1.34
