Repository cncf/k8s-conformance, pull requests merged in 2025-07, with the labels that each got.

#3774 Conformance Results for v1.33/eks-d
  v1.33/eks-d/PRODUCT.yaml
  v1.33/eks-d/README.md
  v1.33/eks-d/e2e.log
  v1.33/eks-d/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3775 Conformance Results for v1.33/eks
  v1.33/eks/PRODUCT.yaml
  v1.33/eks/README.md
  v1.33/eks/e2e.log
  v1.33/eks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3777 Conformance results for v1.32/rh-device-edge
  v1.32/rh-device-edge/PRODUCT.yaml
  v1.32/rh-device-edge/README.md
  v1.32/rh-device-edge/e2e.log
  v1.32/rh-device-edge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3780 Conformance results for v1.32/shturval
  v1.32/shturval/PRODUCT.yaml
  v1.32/shturval/README.md
  v1.32/shturval/e2e.log
  v1.32/shturval/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3781 Conformance results for v1.33/kubeasz
  v1.33/kubeasz/PRODUCT.yaml
  v1.33/kubeasz/README.md
  v1.33/kubeasz/e2e.log
  v1.33/kubeasz/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3782 Conformance results for v1.32/magellano
  v1.32/magellano/PRODUCT.yaml
  v1.32/magellano/README.md
  v1.32/magellano/e2e.log
  v1.32/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3783 Conformance results for v1.33/ZStack Cube
  v1.33/ZStack Cube/PRODUCT.yaml
  v1.33/ZStack Cube/README.md
  v1.33/ZStack Cube/e2e.log
  v1.33/ZStack Cube/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3795 Add conformance results for v1.32/vmware-tkg
  v1.32/vmware-tanzu-kubernetes-grid/PRODUCT.yaml
  v1.32/vmware-tanzu-kubernetes-grid/README.md
  v1.32/vmware-tanzu-kubernetes-grid/e2e.log
  v1.32/vmware-tanzu-kubernetes-grid/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3797 conformance results for v1.33/digitalocean
  v1.33/digitalocean/PRODUCT.yaml
  v1.33/digitalocean/README.md
  v1.33/digitalocean/e2e.log
  v1.33/digitalocean/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3799 Conformance results for v1.32 Kubespray
  v1.32/kubespray/PRODUCT.yaml
  v1.32/kubespray/README.md
  v1.32/kubespray/e2e.log
  v1.32/kubespray/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3800 Conformance results for v1.32/cke
  v1.32/cke/PRODUCT.yaml
  v1.32/cke/README.md
  v1.32/cke/e2e.log
  v1.32/cke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3802 conformance results for v1.32/aruba
  v1.32/Aruba/PRODUCT.yaml
  v1.32/Aruba/README.md
  v1.32/Aruba/e2e.log
  v1.32/Aruba/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3794 Conformance results for v1.33/cdk
  v1.33/cdk/PRODUCT.yaml
  v1.33/cdk/README.md
  v1.33/cdk/e2e.log
  v1.33/cdk/junit_01.xml
Labels: not-verifiable, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3801 Conformance results for v1.33/eks-anywhere
  v1.33/eks-a/PRODUCT.yaml
  v1.33/eks-a/README.md
  v1.33/eks-a/e2e.log
  v1.33/eks-a/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3808 Conformance results for v1.33/tenxcloud
  v1.33/tenxcloud/PRODUCT.yaml
  v1.33/tenxcloud/README.md
  v1.33/tenxcloud/e2e.log
  v1.33/tenxcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3810 Conformance results for v1.32/daocloud
  v1.32/daocloud/PRODUCT.yaml
  v1.32/daocloud/README.md
  v1.32/daocloud/e2e.log
  v1.32/daocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3811 Conformance results for v1.32/huawei-cce
  v1.32/huawei-cce/PRODUCT.yaml
  v1.32/huawei-cce/README.md
  v1.32/huawei-cce/e2e.log
  v1.32/huawei-cce/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3814 Conformance results for v1.33/microk8s
  v1.33/microk8s/PRODUCT.yaml
  v1.33/microk8s/README.md
  v1.33/microk8s/e2e.log
  v1.33/microk8s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3815 Conformance results for v1.32/cdk
  v1.32/cdk/PRODUCT.yaml
  v1.32/cdk/README.md
  v1.32/cdk/e2e.log
  v1.32/cdk/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3820 Conformance results for v1.33/stackit-kubernetes-engine
  v1.33/stackit-kubernetes-engine/PRODUCT.yaml
  v1.33/stackit-kubernetes-engine/README.md
  v1.33/stackit-kubernetes-engine/e2e.log
  v1.33/stackit-kubernetes-engine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3822 Conformance results for v1.32/gcore
  v1.32/gcore/PRODUCT.yaml
  v1.32/gcore/README.md
  v1.32/gcore/e2e.log
  v1.32/gcore/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3821 Conformance results for v1.33/gcore
  v1.33/gcore/PRODUCT.yaml
  v1.33/gcore/README.md
  v1.33/gcore/e2e.log
  v1.33/gcore/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3768 feat: Rebranding (renaming) `fury-distribution` into `sighup-distribution`
  v1.31/fury-distribution/PRODUCT.yaml
  v1.31/sighup-distribution/PRODUCT.yaml
  v1.31/sighup-distribution/README.md
  v1.31/sighup-distribution/e2e.log
  v1.31/sighup-distribution/junit_01.xml
Labels: unable-to-process, not-conformance-product-submission
