Repository cncf/k8s-conformance, pull requests merged in 2025-05, with the labels that each got.

#3705 Conformance results for v1.32/Taichu
  v1.32/Taichu/PRODUCT.yaml
  v1.32/Taichu/README.md
  v1.32/Taichu/e2e.log
  v1.32/Taichu/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3706 Conformance results for v1.32/nws
  v1.32/nws/PRODUCT.yaml
  v1.32/nws/README.md
  v1.32/nws/e2e.log
  v1.32/nws/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3707 Conformance results for v1.31/arcfra-ake
  v1.31/arcfra-ake/PRODUCT.yaml
  v1.31/arcfra-ake/README.md
  v1.31/arcfra-ake/e2e.log
  v1.31/arcfra-ake/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3708 Conformance results for v1.32/arcfra-ake
  v1.32/arcfra-ake/PRODUCT.yaml
  v1.32/arcfra-ake/README.md
  v1.32/arcfra-ake/e2e.log
  v1.32/arcfra-ake/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3709 Conformance results for v1.33/arcfra-ake
  v1.33/arcfra-ake/PRODUCT.yaml
  v1.33/arcfra-ake/README.md
  v1.33/arcfra-ake/e2e.log
  v1.33/arcfra-ake/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3710 Conformance results for v1.31/accordion
  v1.31/accordion/PRODUCT.yaml
  v1.31/accordion/README.md
  v1.31/accordion/e2e.log
  v1.31/accordion/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3713 Conformance results for v1.31/SECloudit
  v1.31/SECloudit/PRODUCT.yaml
  v1.31/SECloudit/README.md
  v1.31/SECloudit/e2e.log
  v1.31/SECloudit/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3711 Conformance results for v1.32/SECloudit
  v1.32/SECloudit/PRODUCT.yaml
  v1.32/SECloudit/README.md
  v1.32/SECloudit/e2e.log
  v1.32/SECloudit/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3712 Conformance results for v1.33/SECloudit
  v1.33/SECloudit/PRODUCT.yaml
  v1.33/SECloudit/README.md
  v1.33/SECloudit/e2e.log
  v1.33/SECloudit/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3717 Update conformance results for v1.32/iks
  v1.32/iks/PRODUCT.yaml
  v1.32/iks/README.md
  v1.32/iks/e2e.log
  v1.32/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3714 Update README.md
  v1.32/vcluster/README.md
Labels: unable-to-process, not-conformance-product-submission

#3694 Conformance results for v1.31/shturval
  v1.31/shturval/PRODUCT.yaml
  v1.31/shturval/README.md
  v1.31/shturval/e2e.log
  v1.31/shturval/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3721 Conformance results for v1.32/windrivercloud
  v1.32/windrivercloud/PRODUCT.yaml
  v1.32/windrivercloud/README.md
  v1.32/windrivercloud/e2e.log
  v1.32/windrivercloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3723 Conformance results for v1.32/kubeops
  v1.32/kubeops/PRODUCT.yaml
  v1.32/kubeops/README.md
  v1.32/kubeops/e2e.log
  v1.32/kubeops/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3725 Conformance results for v1.31/h3c
  v1.31/h3c-cloudos/PRODUCT.yaml
  v1.31/h3c-cloudos/README.md
  v1.31/h3c-cloudos/e2e.log
  v1.31/h3c-cloudos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3726 Conformance results for v1.33/AlibabaCloud
  v1.33/alicloud/PRODUCT.yaml
  v1.33/alicloud/README.md
  v1.33/alicloud/e2e.log
  v1.33/alicloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3727 Conformance results for v1.32/metalstackcloud
  v1.32/metalstackcloud/PRODUCT.yaml
  v1.32/metalstackcloud/README.md
  v1.32/metalstackcloud/e2e.log
  v1.32/metalstackcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3728 Conformance results for v1.31/spectrocloud
  v1.31/spectrocloud/PRODUCT.yaml
  v1.31/spectrocloud/README.md
  v1.31/spectrocloud/e2e.log
  v1.31/spectrocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3729 Conformance results for v1.32/minikube
  v1.32/minikube/PRODUCT.yaml
  v1.32/minikube/README.md
  v1.32/minikube/e2e.log
  v1.32/minikube/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3730 Conformance results for v1.32/ionos-cloud
  v1.32/ionos-cloud/PRODUCT.yaml
  v1.32/ionos-cloud/README.md
  v1.32/ionos-cloud/e2e.log
  v1.32/ionos-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3731 Conformance Results for v1.33/rafay
  v1.33/rafay/PRODUCT.yaml
  v1.33/rafay/README.md
  v1.33/rafay/e2e.log
  v1.33/rafay/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3732 Conformance results for v1.33/rke-government
  v1.33/rke-government/PRODUCT.yaml
  v1.33/rke-government/README.md
  v1.33/rke-government/e2e.log
  v1.33/rke-government/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3733 Conformance results for v1.33/gke
  v1.33/gke/PRODUCT.yaml
  v1.33/gke/README.md
  v1.33/gke/e2e.log
  v1.33/gke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3734 Conformance results for v1.33/kind
  v1.33/kind/PRODUCT.yaml
  v1.33/kind/README.md
  v1.33/kind/e2e.log
  v1.33/kind/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3735 Conformance results for v1.33/orka
  v1.33/orka/PRODUCT.yaml
  v1.33/orka/README.md
  v1.33/orka/e2e.log
  v1.33/orka/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3736 Conformance results for v1.33/k3s
  v1.33/k3s/PRODUCT.yaml
  v1.33/k3s/README.md
  v1.33/k3s/e2e.log
  v1.33/k3s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3739 Conformance results for v1.32/nks
  v1.32/nks/PRODUCT.yaml
  v1.32/nks/README.md
  v1.32/nks/e2e.log
  v1.32/nks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3740 Conformance results for v1.31/ske
  v1.31/ske/PRODUCT.yaml
  v1.31/ske/README.md
  v1.31/ske/e2e.log
  v1.31/ske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3741 Conformance results for v1.33/oke
  v1.33/oke/PRODUCT.yaml
  v1.33/oke/README.md
  v1.33/oke/e2e.log
  v1.33/oke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3744 Conformance results for v1.31/civo
  v1.31/civo/PRODUCT.yaml
  v1.31/civo/README.md
  v1.31/civo/e2e.log
  v1.31/civo/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3746 Conformance results for v1.32/mirantis-kubernetes-engine
  v1.32/mirantis-kubernetes-engine/PRODUCT.yaml
  v1.32/mirantis-kubernetes-engine/README.md
  v1.32/mirantis-kubernetes-engine/e2e.log
  v1.32/mirantis-kubernetes-engine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3748 Conformance results for v1.33/kubeclipper
  v1.33/kubeclipper/PRODUCT.yaml
  v1.33/kubeclipper/README.md
  v1.33/kubeclipper/e2e.log
  v1.33/kubeclipper/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3749 Conformance results for v1.31/nirmata
  v1.31/nirmata/PRODUCT.yaml
  v1.31/nirmata/README.md
  v1.31/nirmata/e2e.log
  v1.31/nirmata/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3750 Conformance results for v1.31/whitemist
  v1.31/whitemist/PRODUCT.yaml
  v1.31/whitemist/README.md
  v1.31/whitemist/e2e.log
  v1.31/whitemist/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3752 Conformance results for v1.32/intel-kubernetes-service
  v1.32/intel-kubernetes-service/PRODUCT.yaml
  v1.32/intel-kubernetes-service/README.md
  v1.32/intel-kubernetes-service/e2e.log
  v1.32/intel-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3753 Conformance Results for v1.33/vke
  v1.33/vke/PRODUCT.yaml
  v1.33/vke/README.md
  v1.33/vke/e2e.log
  v1.33/vke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3743 Conformance results for v1.31/Cloudboostr
  v1.31/cloudboostr/PRODUCT.yaml
  v1.31/cloudboostr/README.md
  v1.31/cloudboostr/e2e.log
  v1.31/cloudboostr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3751 Conformance results for v1.33/catalyst-cloud
  v1.33/catalyst-cloud/PRODUCT.yaml
  v1.33/catalyst-cloud/README.md
  v1.33/catalyst-cloud/e2e.log
  v1.33/catalyst-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3756 Conformance results for v1.31/platform9
  v1.31/platform9/PRODUCT.yaml
  v1.31/platform9/README.md
  v1.31/platform9/e2e.log
  v1.31/platform9/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3757 Conformance results for v1.32/stackit-kubernetes-engine
  v1.32/stackit-kubernetes-engine/PRODUCT.yaml
  v1.32/stackit-kubernetes-engine/README.md
  v1.32/stackit-kubernetes-engine/e2e.log
  v1.32/stackit-kubernetes-engine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3754 conformance results for v1.33/JDOS
  v1.33/JDOS/PRODUCT.yaml
  v1.33/JDOS/README.md
  v1.33/JDOS/e2e.log
  v1.33/JDOS/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3759 Conformance results for v1.33/platform9
  v1.33/platform9/PRODUCT.yaml
  v1.33/platform9/README.md
  v1.33/platform9/e2e.log
  v1.33/platform9/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3760 Conformance results for v1.32/AKS
  v1.32/aks/PRODUCT.yaml
  v1.32/aks/README.md
  v1.32/aks/e2e.log
  v1.32/aks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3761 Conformance results for v1.31/tata-communications-vayu-kubernetes-service
  v1.31/tata-communications-vayu-kubernetes-service/PRODUCT.yaml
  v1.31/tata-communications-vayu-kubernetes-service/README.md
  v1.31/tata-communications-vayu-kubernetes-service/e2e.log
  v1.31/tata-communications-vayu-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3763 Conformance results for v1.32/nirmata
  v1.32/nirmata/PRODUCT.yaml
  v1.32/nirmata/README.md
  v1.32/nirmata/e2e.log
  v1.32/nirmata/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3766 Conformance results for v1.33/metakube-openstack
  v1.33/metakube-openstack/PRODUCT.yaml
  v1.33/metakube-openstack/README.md
  v1.33/metakube-openstack/e2e.log
  v1.33/metakube-openstack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3771 Update conformance results for v1.32/iks
  v1.32/iks/PRODUCT.yaml
  v1.32/iks/README.md
  v1.32/iks/e2e.log
  v1.32/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32
