Repository cncf/k8s-conformance, pull requests merged in 2025-01, with the labels that each got.

#3517 Conformance results for v1.32/kind
  v1.32/kind/PRODUCT.yaml
  v1.32/kind/README.md
  v1.32/kind/e2e.log
  v1.32/kind/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3521 Conformance results for v1.32/talos
  v1.32/talos/PRODUCT.yaml
  v1.32/talos/README.md
  v1.32/talos/e2e.log
  v1.32/talos/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3522 Conformance results for v1.32/gke
  v1.32/gke/PRODUCT.yaml
  v1.32/gke/README.md
  v1.32/gke/e2e.log
  v1.32/gke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3523 Conformance results for v1.32/previder
  v1.32/previder/README.md
  v1.32/previder/e2e.log
  v1.32/previder/junit_01.xml
Labels: not-verifiable, conformance-product-submission, missing-file-PRODUCT.yaml, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3524 Conformance results for v1.31/acornsoft-cocktail
  v1.31/acornsoft-cocktail/PRODUCT.yaml
  v1.31/acornsoft-cocktail/README.md
  v1.31/acornsoft-cocktail/e2e.log
  v1.31/acornsoft-cocktail/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3525 Conformance results for v1.32/metakube-openstack
  v1.32/metakube-openstack/PRODUCT.yaml
  v1.32/metakube-openstack/README.md
  v1.32/metakube-openstack/e2e.log
  v1.32/metakube-openstack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3526 Conformance results for v1.31/vcluster
  v1.31/vcluster/PRODUCT.yaml
  v1.31/vcluster/README.md
  v1.31/vcluster/e2e.log
  v1.31/vcluster/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3530 Conformance results for v1.30/Coredge Signed-off-by: rakesh_pagare <r…
  v1.30/Coredge/PRODUCT.yaml
  v1.30/Coredge/README.md
  v1.30/Coredge/e2e.log
  v1.30/Coredge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3534 Conformance results for v1.31/Coredge Signed-off-by: rakesh_pagare <rakesh.pgr@gmail.com>
  v1.31/Coredge/PRODUCT.yaml
  v1.31/Coredge/README.md
  v1.31/Coredge/e2e.log
  v1.31/Coredge/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3535 Conformance results for v1.32/AlibabaCloud
  v1.32/alicloud/PRODUCT.yaml
  v1.32/alicloud/README.md
  v1.32/alicloud/e2e.log
  v1.32/alicloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3536 Conformance results for v1.32/typhoon
  v1.32/typhoon/PRODUCT.yaml
  v1.32/typhoon/README.md
  v1.32/typhoon/e2e.log
  v1.32/typhoon/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3537 Add Kubernetes v1.30 conformance results for EKS Anywhere
  v1.30/eks-a/PRODUCT.yaml
  v1.30/eks-a/README.md
  v1.30/eks-a/e2e.log
  v1.30/eks-a/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3538 Fix EKS-A product version for Kubernetes 1.24
  v1.24/eks-a/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3539 Fix EKS-A product version for Kubernetes 1.25
  v1.25/eks-a/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3540 Fix EKS-A product version for Kubernetes 1.26
  v1.26/eks-a/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3541 Fix EKS-A product version for Kubernetes 1.27
  v1.27/eks-a/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3542 Fix EKS-A product version for Kubernetes 1.28
  v1.28/eks-a/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3543 Fix EKS-A product version for Kubernetes 1.29
  v1.29/eks-a/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3544 Add Kubernetes v1.31 conformance results for EKS Anywhere
  v1.31/eks-a/PRODUCT.yaml
  v1.31/eks-a/README.md
  v1.31/eks-a/e2e.log
  v1.31/eks-a/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3545 Conformance results for v1.31/OneKE
  v1.31/OneKE/PRODUCT.yaml
  v1.31/OneKE/README.md
  v1.31/OneKE/e2e.log
  v1.31/OneKE/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3546 Conformance results for v1.30/tks-enterprise-solution
  v1.30/tks-enterprise-solution/PRODUCT.yaml
  v1.30/tks-enterprise-solution/README.md
  v1.30/tks-enterprise-solution/e2e.log
  v1.30/tks-enterprise-solution/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3547 Conformance results for v1.30/plusserver-pske
  v1.30/plusserver-pske/PRODUCT.yaml
  v1.30/plusserver-pske/README.md
  v1.30/plusserver-pske/e2e.log
  v1.30/plusserver-pske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3548 Conformance Results for v1.32/rafay
  v1.32/rafay/PRODUCT.yaml
  v1.32/rafay/README.md
  v1.32/rafay/e2e.log
  v1.32/rafay/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3549 Conformance results for v1.30/whitemist
  v1.30/whitemist/PRODUCT.yaml
  v1.30/whitemist/README.md
  v1.30/whitemist/e2e.log
  v1.30/whitemist/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3550 Conformance results for v1.32/rke-government
  v1.32/rke-government/PRODUCT.yaml
  v1.32/rke-government/README.md
  v1.32/rke-government/e2e.log
  v1.32/rke-government/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3551 Conformance results for v1.30/intel-kubernetes-service
  v1.30/intel-kubernetes-service/PRODUCT.yaml
  v1.30/intel-kubernetes-service/README.md
  v1.30/intel-kubernetes-service/e2e.log
  v1.30/intel-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3554 Conformance results for v1.31/bocloud
  v1.31/bocloud/PRODUCT.yaml
  v1.31/bocloud/README.md
  v1.31/bocloud/e2e.log
  v1.31/bocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3555 Conformance results for v1.32/k3s
  v1.32/k3s/PRODUCT.yaml
  v1.32/k3s/README.md
  v1.32/k3s/e2e.log
  v1.32/k3s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3556 Conformance results for v1.31/microk8s
  v1.31/microk8s/PRODUCT.yaml
  v1.31/microk8s/README.md
  v1.31/microk8s/e2e.log
  v1.31/microk8s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3557 Conformance results for v1.32/microk8s
  v1.32/microk8s/PRODUCT.yaml
  v1.32/microk8s/README.md
  v1.32/microk8s/e2e.log
  v1.32/microk8s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3558 conformance results for v1.30/aruba
  v1.30/aruba/PRODUCT.yaml
  v1.30/aruba/README.md
  v1.30/aruba/e2e.log
  v1.30/aruba/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3560 Conformance results for v1.30/shturval
  v1.30/shturval/PRODUCT.yaml
  v1.30/shturval/README.md
  v1.30/shturval/e2e.log
  v1.30/shturval/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3562 Conformance results for v1.30/tkgi
  v1.30/tkgi/PRODUCT.yaml
  v1.30/tkgi/README.md
  v1.30/tkgi/e2e.log
  v1.30/tkgi/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3559 Conformance results for v1.30/platform9
  v1.30/platform9/PRODUCT.yaml
  v1.30/platform9/README.md
  v1.30/platform9/e2e.log
  v1.30/platform9/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3563 Conformance results for v1.32/vmware-vsphere-kubernetes-service
  v1.32/vmware-vsphere-kubernetes-service/PRODUCT.yaml
  v1.32/vmware-vsphere-kubernetes-service/README.md
  v1.32/vmware-vsphere-kubernetes-service/e2e.log
  v1.32/vmware-vsphere-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3564 Conformance results for v1.30/openshift-dedicated
  v1.30/openshift-dedicated/PRODUCT.yaml
  v1.30/openshift-dedicated/README.md
  v1.30/openshift-dedicated/e2e.log
  v1.30/openshift-dedicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3565 Conformance results for v1.32/easystack
  v1.32/easystack/PRODUCT.yaml
  v1.32/easystack/README.md
  v1.32/easystack/e2e.log
  v1.32/easystack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3566 Conformance results for v1.30/nirmata
  v1.30/nirmata/PRODUCT.yaml
  v1.30/nirmata/README.md
  v1.30/nirmata/e2e.log
  v1.30/nirmata/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3570 Conformance results for v1.32/DigitalChinaDataCloud
  v1.32/DigitalChina-DataCloud/PRODUCT.yaml
  v1.32/DigitalChina-DataCloud/README.md
  v1.32/DigitalChina-DataCloud/e2e.log
  v1.32/DigitalChina-DataCloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3573 Conformance results for v1.31/Taichu
  v1.31/Taichu/PRODUCT.yaml
  v1.31/Taichu/README.md
  v1.31/Taichu/e2e.log
  v1.31/Taichu/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3574 CNCF conformance results for k8s v1.30/ntnx-karbon
  v1.30/ntnx-karbon/PRODUCT.yaml
  v1.30/ntnx-karbon/README.md
  v1.30/ntnx-karbon/e2e.log
  v1.30/ntnx-karbon/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3571 Conformance results for v1.30/robin.io
  v1.30/robin.io/PRODUCT.yaml
  v1.30/robin.io/README.md
  v1.30/robin.io/e2e.log
  v1.30/robin.io/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3577 Conformance results for v1.32/catalyst-cloud
  v1.32/catalyst-cloud/PRODUCT.yaml
  v1.32/catalyst-cloud/README.md
  v1.32/catalyst-cloud/e2e.log
  v1.32/catalyst-cloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3578 Conformance results for v1.30/daocloud
  v1.30/daocloud/PRODUCT.yaml
  v1.30/daocloud/README.md
  v1.30/daocloud/e2e.log
  v1.30/daocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3579 Conformance results for v1.31/konvoy
  v1.31/konvoy/PRODUCT.yaml
  v1.31/konvoy/README.md
  v1.31/konvoy/e2e.log
  v1.31/konvoy/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3580 Conformance results for v1.32/qbo
  v1.32/qbo/PRODUCT.yaml
  v1.32/qbo/README.md
  v1.32/qbo/e2e.log
  v1.32/qbo/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3584 Conformance results for v1.31/kubespray
  v1.31/kubespray/PRODUCT.yaml
  v1.31/kubespray/README.md
  v1.31/kubespray/e2e.log
  v1.31/kubespray/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3585 Update conformance results for v1.30/ibm-openshift
  v1.30/ibm-openshift/PRODUCT.yaml
  v1.30/ibm-openshift/README.md
  v1.30/ibm-openshift/e2e.log
  v1.30/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3586 Update conformance results for v1.31/iks
  v1.31/iks/PRODUCT.yaml
  v1.31/iks/README.md
  v1.31/iks/e2e.log
  v1.31/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3587 Update conformance results for v1.30/iks
  v1.30/iks/PRODUCT.yaml
  v1.30/iks/README.md
  v1.30/iks/e2e.log
  v1.30/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3589 Conformance results for v1.32/iks
  v1.32/iks/PRODUCT.yaml
  v1.32/iks/README.md
  v1.32/iks/e2e.log
  v1.32/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3588 Conformance results for v1.30/upcloud
  v1.30/upcloud/PRODUCT.yaml
  v1.30/upcloud/README.md
  v1.30/upcloud/e2e.log
  v1.30/upcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3592 Conformance results for v1.32/ericsson-ccd
  v1.32/ericsson-ccd/PRODUCT.yaml
  v1.32/ericsson-ccd/README.md
  v1.32/ericsson-ccd/e2e.log
  v1.32/ericsson-ccd/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3594 Conformance results for v1.32/vke
  v1.32/vke/PRODUCT.yaml
  v1.32/vke/README.md
  v1.32/vke/e2e.log
  v1.32/vke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32
