Repository cncf/k8s-conformance, pull requests merged in 2025-08, with the labels that each got.

#3825 Conformance results for v1.32/sighup-distribution
  v1.32/sighup-distribution/PRODUCT.yaml
  v1.32/sighup-distribution/README.md
  v1.32/sighup-distribution/e2e.log
  v1.32/sighup-distribution/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3830 Conformance results for v1.31/leaseweb
  v1.31/leaseweb/PRODUCT.yaml
  v1.31/leaseweb/README.md
  v1.31/leaseweb/e2e.log
  v1.31/leaseweb/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3831 Conformance results for v1.32/leaseweb
  v1.32/leaseweb/PRODUCT.yaml
  v1.32/leaseweb/README.md
  v1.32/leaseweb/e2e.log
  v1.32/leaseweb/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3832 Conformance results for v1.33/openshift
  v1.33/openshift/PRODUCT.yaml
  v1.33/openshift/README.md
  v1.33/openshift/e2e.log
  v1.33/openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3837 Conformance results for v1.33/vcluster
  v1.33/vcluster/PRODUCT.yaml
  v1.33/vcluster/README.md
  v1.33/vcluster/e2e.log
  v1.33/vcluster/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3839 Conformance results for v1.33/leaseweb
  v1.33/leaseweb/PRODUCT.yaml
  v1.33/leaseweb/README.md
  v1.33/leaseweb/e2e.log
  v1.33/leaseweb/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3846 Conformance results for v1.33/replicated
  v1.33/replicated/PRODUCT.yaml
  v1.33/replicated/README.md
  v1.33/replicated/e2e.log
  v1.33/replicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3848 Conformance results for v1.32/ACP
  v1.32/acp/PRODUCT.yaml
  v1.32/acp/README.md
  v1.32/acp/e2e.log
  v1.32/acp/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32
