Repository cncf/k8s-conformance, pull requests merged in 2025-04, with the labels that each got.

#3618 Update conformance results for v1.30/elastisys-welkin-kubespray
  v1.30/elastisys-compliant-kubernetes/PRODUCT.yaml
  v1.30/elastisys-compliant-kubernetes/README.md
  v1.30/elastisys-welkin-kubespray/PRODUCT.yaml
  v1.30/elastisys-welkin-kubespray/README.md
  v1.30/elastisys-welkin-kubespray/e2e.log
  v1.30/elastisys-welkin-kubespray/junit_01.xml
Labels: not-verifiable, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3619 Conformance results for v1.30/elastisys-welkin-cluster-api
  v1.30/elastisys-welkin-cluster-api/PRODUCT.yaml
  v1.30/elastisys-welkin-cluster-api/README.md
  v1.30/elastisys-welkin-cluster-api/e2e.log
  v1.30/elastisys-welkin-cluster-api/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3634 Conformance results for v1.32/cubex
  v1.32/cubex/PRODUCT.yaml
  v1.32/cubex/README.md
  v1.32/cubex/e2e.log
  v1.32/cubex/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3637 Conformance results for v1.32/viola
  v1.32/viola/PRODUCT.yaml
  v1.32/viola/README.md
  v1.32/viola/e2e.log
  v1.32/viola/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3638 Conformance results for v1.31/upcloud
  v1.31/upcloud/PRODUCT.yaml
  v1.31/upcloud/README.md
  v1.31/upcloud/e2e.log
  v1.31/upcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3641 Update conformance results for v1.32/iks
  v1.32/iks/PRODUCT.yaml
  v1.32/iks/README.md
  v1.32/iks/e2e.log
  v1.32/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3642 Update conformance results for v1.31/iks
  v1.31/iks/PRODUCT.yaml
  v1.31/iks/README.md
  v1.31/iks/e2e.log
  v1.31/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3643 Update conformance results for v1.30/iks
  v1.30/iks/PRODUCT.yaml
  v1.30/iks/README.md
  v1.30/iks/e2e.log
  v1.30/iks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3645 Conformance results for v1.30/aks-engine-azurestack
  v1.30/aks-engine-azurestack/PRODUCT.yaml
  v1.30/aks-engine-azurestack/README.md
  v1.30/aks-engine-azurestack/e2e.log
  v1.30/aks-engine-azurestack/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3647 Conformance results for v1.32/eks-anywhere
  v1.32/eks-a/PRODUCT.yaml
  v1.32/eks-a/README.md
  v1.32/eks-a/e2e.log
  v1.32/eks-a/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3649 Conformance results for v1.31/cubex
  v1.31/cubex/PRODUCT.yaml
  v1.31/cubex/README.md
  v1.31/cubex/e2e.log
  v1.31/cubex/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3652 Conformance results for v1.31/plusserver-pske
  v1.31/plusserver-pske/PRODUCT.yaml
  v1.31/plusserver-pske/README.md
  v1.31/plusserver-pske/e2e.log
  v1.31/plusserver-pske/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3654 Conformance results for v1.31/windrivercloud
  v1.31/windrivercloud/PRODUCT.yaml
  v1.31/windrivercloud/README.md
  v1.31/windrivercloud/e2e.log
  v1.31/windrivercloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3656 Conformance results for v1.31/starlingx
  v1.31/starlingx/PRODUCT.yaml
  v1.31/starlingx/README.md
  v1.31/starlingx/e2e.log
  v1.31/starlingx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3657 Conformance results for v1.30/cubex
  v1.30/cubex/PRODUCT.yaml
  v1.30/cubex/README.md
  v1.30/cubex/e2e.log
  v1.30/cubex/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3658 Conformance results for v1.32/wiit-wks
  v1.32/wiit-wks/PRODUCT.yaml
  v1.32/wiit-wks/README.md
  v1.32/wiit-wks/e2e.log
  v1.32/wiit-wks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3660 Conformance results for v1.32/TencentCloud
  v1.32/tencentcloud/PRODUCT.yaml
  v1.32/tencentcloud/README.md
  v1.32/tencentcloud/e2e.log
  v1.32/tencentcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3661 Conformance results for v1.32/DiamantiKubernetesEngine
  v1.32/DiamantiKubernetesEngine/PRODUCT.yaml
  v1.32/DiamantiKubernetesEngine/README.md
  v1.32/DiamantiKubernetesEngine/e2e.log
  v1.32/DiamantiKubernetesEngine/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3662 Conformance results for v1.30/kubeone
  v1.30/kubeone/PRODUCT.yaml
  v1.30/kubeone/README.md
  v1.30/kubeone/e2e.log
  v1.30/kubeone/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3663 Conformance results for v1.31/nks
  v1.31/nks/PRODUCT.yaml
  v1.31/nks/README.md
  v1.31/nks/e2e.log
  v1.31/nks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3675 Conformance results for v1.31/daocloud
  v1.31/daocloud/PRODUCT.yaml
  v1.31/daocloud/README.md
  v1.31/daocloud/e2e.log
  v1.31/daocloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3678 Conformance results for v1.31/elastisys-welkin-kubespray
  v1.31/elastisys-welkin-kubespray/PRODUCT.yaml
  v1.31/elastisys-welkin-kubespray/README.md
  v1.31/elastisys-welkin-kubespray/e2e.log
  v1.31/elastisys-welkin-kubespray/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3680 Conformance results for v1.31/minikube
  v1.31/minikube/PRODUCT.yaml
  v1.31/minikube/README.md
  v1.31/minikube/e2e.log
  v1.31/minikube/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3677 conformance results for v1.31/swisscom-kubernetes-service
  v1.31/swisscom-kubernetes-service/PRODUCT.yaml
  v1.31/swisscom-kubernetes-service/README.md
  v1.31/swisscom-kubernetes-service/e2e.log
  v1.31/swisscom-kubernetes-service/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3681 Conformance results for v1.32/konvoy
  v1.32/konvoy/PRODUCT.yaml
  v1.32/konvoy/README.md
  v1.32/konvoy/e2e.log
  v1.32/konvoy/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3682 Conformance results for v1.32/acornsoft-cocktail
  v1.32/acornsoft-cocktail/PRODUCT.yaml
  v1.32/acornsoft-cocktail/README.md
  v1.32/acornsoft-cocktail/e2e.log
  v1.32/acornsoft-cocktail/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3683 conformance results for v1.31/aruba
  v1.31/aruba/PRODUCT.yaml
  v1.31/aruba/README.md
  v1.31/aruba/e2e.log
  v1.31/aruba/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3688 Conformance results for v1.32/chinamobile-cmit-paas
  v1.32/chinamobile-cmit-paas/PRODUCT.yaml
  v1.32/chinamobile-cmit-paas/README.md
  v1.32/chinamobile-cmit-paas/e2e.log
  v1.32/chinamobile-cmit-paas/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3689 Conformance results for v1.31/cke
  v1.31/cke/PRODUCT.yaml
  v1.31/cke/README.md
  v1.31/cke/e2e.log
  v1.31/cke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3690 Conformance results for v1.32/kubeone
  v1.32/kubeone/PRODUCT.yaml
  v1.32/kubeone/README.md
  v1.32/kubeone/e2e.log
  v1.32/kubeone/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3691 Conformance results for v1.31/K-PaaS-Container-Platform
  v1.31/K-PaaS-Container-Platform/PRODUCT.yaml
  v1.31/K-PaaS-Container-Platform/README.md
  v1.31/K-PaaS-Container-Platform/e2e.log
  v1.31/K-PaaS-Container-Platform/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3692 Conformance results for v1.31/linode
  v1.31/linode/PRODUCT.yaml
  v1.31/linode/README.md
  v1.31/linode/e2e.log
  v1.31/linode/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3693 Conformance results for v1.32/linode
  v1.32/linode/PRODUCT.yaml
  v1.32/linode/README.md
  v1.32/linode/e2e.log
  v1.32/linode/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3697 Conformance results for v1.31/k8s-tew
  v1.31/k8s-tew/PRODUCT.yaml
  v1.31/k8s-tew/README.md
  v1.31/k8s-tew/e2e.log
  v1.31/k8s-tew/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3695 Conformance results for v1.32/k8s-tew
  v1.32/k8s-tew/PRODUCT.yaml
  v1.32/k8s-tew/README.md
  v1.32/k8s-tew/e2e.log
  v1.32/k8s-tew/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3698 Conformance results for v1.33/k8s-tew
  v1.33/k8s-tew/PRODUCT.yaml
  v1.33/k8s-tew/README.md
  v1.33/k8s-tew/e2e.log
  v1.33/k8s-tew/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3699 Conformance results for v1.33/previder
  v1.33/previder/PRODUCT.yaml
  v1.33/previder/README.md
  v1.33/previder/e2e.log
  v1.33/previder/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.33, no-failed-tests-v1.33, release-v1.33

#3701 Conformance results for v1.32/kublr
  v1.32/kublr/PRODUCT.yaml
  v1.32/kublr/README.md
  v1.32/kublr/e2e.log
  v1.32/kublr/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3703 Conformance results for v1.32/ecloud
  v1.32/ecloud/PRODUCT.yaml
  v1.32/ecloud/README.md
  v1.32/ecloud/e2e.log
  v1.32/ecloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32
