Repository cncf/k8s-conformance, pull requests merged in 2025-03, with the labels that each got.

#3593 Conformance results for v1.32/k0s
  v1.32/k0s/PRODUCT.yaml
  v1.32/k0s/README.md
  v1.32/k0s/e2e.log
  v1.32/k0s/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3604 Conformance results for v1.31/taikun-cloudworks
  v1.31/Taikun CloudWorks/PRODUCT.yaml
  v1.31/Taikun CloudWorks/README.md
  v1.31/Taikun CloudWorks/e2e.log
  v1.31/Taikun CloudWorks/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3607 Conformance results for v1.32/kubermatic
  v1.32/kubermatic/PRODUCT.yaml
  v1.32/kubermatic/README.md
  v1.32/kubermatic/e2e.log
  v1.32/kubermatic/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3608 Update conformance results for v1.30/ibm-openshift
  v1.30/ibm-openshift/PRODUCT.yaml
  v1.30/ibm-openshift/README.md
  v1.30/ibm-openshift/e2e.log
  v1.30/ibm-openshift/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3609 Conformance results for v1.31/magellano
  v1.31/magellano/PRODUCT.yaml
  v1.31/magellano/README.md
  v1.31/magellano/e2e.log
  v1.31/magellano/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3610 Conformance results for v1.32/controlplane
  v1.32/controlplane/PRODUCT.yaml
  v1.32/controlplane/README.md
  v1.32/controlplane/e2e.log
  v1.32/controlplane/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3611 Conformance results for v1.32/rancher
  v1.32/rancher/PRODUCT.yaml
  v1.32/rancher/README.md
  v1.32/rancher/e2e.log
  v1.32/rancher/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3612 Conformance results for v1.32/rke
  v1.32/rke/PRODUCT.yaml
  v1.32/rke/README.md
  v1.32/rke/e2e.log
  v1.32/rke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3613 Add conformance results for v1.32/ovh
  v1.32/ovh/PRODUCT.yaml
  v1.32/ovh/README.md
  v1.32/ovh/e2e.log
  v1.32/ovh/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3615 Conformance results for v1.30/giantswarm-aws
  v1.30/giantswarm-aws/PRODUCT.yaml
  v1.30/giantswarm-aws/README.md
  v1.30/giantswarm-aws/e2e.log
  v1.30/giantswarm-aws/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.30, no-failed-tests-v1.30, release-v1.30

#3617 Conformance results for v1.31/metalstackcloud
  v1.31/metalstackcloud/PRODUCT.yaml
  v1.31/metalstackcloud/README.md
  v1.31/metalstackcloud/e2e.log
  v1.31/metalstackcloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3621 Conformance results for v1.31/elastx
  v1.31/elastx/PRODUCT.yaml
  v1.31/elastx/README.md
  v1.31/elastx/e2e.log
  v1.31/elastx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3622 Conformance results for v1.32/vcluster
  v1.32/vcluster/PRODUCT.yaml
  v1.32/vcluster/README.md
  v1.32/vcluster/e2e.log
  v1.32/vcluster/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3624 Conformance results for v1.31/openshift-dedicated
  v1.31/openshift-dedicated/PRODUCT.yaml
  v1.31/openshift-dedicated/README.md
  v1.31/openshift-dedicated/e2e.log
  v1.31/openshift-dedicated/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3626 Conformance results for v1.31/tkgi
  v1.31/tkgi/PRODUCT.yaml
  v1.31/tkgi/README.md
  v1.31/tkgi/e2e.log
  v1.31/tkgi/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3627 Conformance results for v1.32/hpe-ere
  v1.32/hpe-ere/PRODUCT.yaml
  v1.32/hpe-ere/README.md
  v1.32/hpe-ere/e2e.log
  v1.32/hpe-ere/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3628 Rename Fuga Cloud to Cyso
  v1.28/cyso/PRODUCT.yaml
  v1.28/cyso/README.md
  v1.28/cyso/e2e.log
  v1.28/cyso/junit_01.xml
  v1.28/fuga-cloud/PRODUCT.yaml
  v1.29/cyso/PRODUCT.yaml
  v1.29/cyso/README.md
  v1.29/cyso/e2e.log
  v1.29/cyso/junit_01.xml
  v1.29/fuga-cloud/PRODUCT.yaml
  v1.30/cyso/PRODUCT.yaml
  v1.30/cyso/README.md
  v1.30/cyso/e2e.log
  v1.30/cyso/junit_01.xml
  v1.30/fuga-cloud/PRODUCT.yaml
Labels: unable-to-process, not-conformance-product-submission

#3596 Conformance results for v1.32/GTCP
  v1.32/GTCP/PRODUCT.yaml
  v1.32/GTCP/README.md
  v1.32/GTCP/e2e.log
  v1.32/GTCP/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3605 Conformance results for v1.31/taikun-tks
  v1.31/taikun (TKS)/PRODUCT.yaml
  v1.31/taikun (TKS)/README.md
  v1.31/taikun (TKS)/e2e.log
  v1.31/taikun (TKS)/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3629 Conformance results for v1.32/elastx
  v1.32/elastx/PRODUCT.yaml
  v1.32/elastx/README.md
  v1.32/elastx/e2e.log
  v1.32/elastx/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3630 Conformance results for v1.32/switch
  v1.32/switch/PRODUCT.yaml
  v1.32/switch/README.md
  v1.32/switch/e2e.log
  v1.32/switch/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3631 Conformance results for v1.31/constellation
  v1.31/constellation/PRODUCT.yaml
  v1.31/constellation/README.md
  v1.31/constellation/e2e.log
  v1.31/constellation/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3603 Conformance results for v1.31/taikun
  v1.31/taikun/PRODUCT.yaml
  v1.31/taikun/README.md
  v1.31/taikun/e2e.log
  v1.31/taikun/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3632 Conformance results for v1.31/ACP
  v1.31/acp/PRODUCT.yaml
  v1.31/acp/README.md
  v1.31/acp/e2e.log
  v1.31/acp/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3639 Conformance results for v1.31/baiducloud
  v1.31/baiducloud/PRODUCT.yaml
  v1.31/baiducloud/README.md
  v1.31/baiducloud/e2e.log
  v1.31/baiducloud/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.31, no-failed-tests-v1.31, release-v1.31

#3633 Conformance results for v1.32/oke
  v1.32/oke/PRODUCT.yaml
  v1.32/oke/README.md
  v1.32/oke/e2e.log
  v1.32/oke/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32

#3635 Conformance results for v1.32/kubeasz
  v1.32/kubeasz/PRODUCT.yaml
  v1.32/kubeasz/README.md
  v1.32/kubeasz/e2e.log
  v1.32/kubeasz/junit_01.xml
Labels: release-documents-checked, conformance-product-submission, tests-verified-v1.32, no-failed-tests-v1.32, release-v1.32
